.row
	.container-fluid
		.col-md-12.cities-list
			.row.title
				.col-md-12
					%h2.section-heading
						= t('posts.all')
.row
	.container
		.row
			- @posts_home.each do |post|
				.item.col-sm-3
					.item-wrap
						= link_to(post_path(post), class: 'item-link') do
							- if post.images.empty?
								.item-photo{:style => "background-image: url(image-not-available.jpg)"}
							- else
								- post.images.each do |image|
									- if image.cover == true
										.item-photo.item-photo-xs{:style => "background-image: url(#{image.file.url(:large)})"}
							.item-hover
								.item-hover-content
									%i.fa.fa-plus.fa-3x
						.item-caption.text-left
							%p.text-muted
								#{post.created_at.to_date.to_formatted_s(:long)}
							%h4
								#{truncate(post.title, :length => 70)}
								%br
								—
							= link_to('#', :class => "item-cat icon #{post.category.name} icon-#{post.category.name}") do
								#{post.category.name}
								= link_to(city_path(post.city), class: 'item-city') do
									%span.icon.icon-earth-globe-streamline
									#{post.city.name}
						.item-actions
							.col-md-3.action
								%a.icon.icon-map-streamline-user
							.col-md-3.action
								%a.icon.icon-like-love-streamline
							.col-md-3.action
								%a.icon.icon-envellope-mail-streamline
							.col-md-3.action
								%a.icon-man-people-streamline-user

		= link_to(t('posts.view_more'), posts_path, class: 'btn btn-lg btn-grey')