.row
	.container-fluid
		.col-md-12.cities-list
			.row.title
				.col-md-12
					%h2.section-heading
						Más
						%span
							Proyectos.
.row
	.container
		.row
			- @projects.each do |project|
				.item.col-sm-3
					.item-wrap.text-left
						= link_to(project_path(project), class: 'item-link') do
							- if project.images.empty?
								.item-photo{:style => "background-image: url(image-not-available.jpg)"}
							- else
								- project.images.each do |image|
									- if image.cover == true
										.item-photo.item-photo-xs{:style => "background-image: url(#{image.file.url(:small)})"}
							.item-hover
								.item-hover-content
									%i.fa.fa-plus
				
						.item-caption
							.row
								.col-md-12
									%p.text-muted
										#{project.created_at.to_date.to_formatted_s(:long)}
									
									%h4
										#{truncate(project.title, :length => 70)}

						.item-actions
							.col-xs-3.col-sm-3.col-md-3.action
								%a.icon.icon-map-streamline-user
							.col-xs-3.col-sm-3.col-md-3.action
								%a.icon.icon-like-love-streamline
							.col-xs-3.col-sm-3.col-md-3.action
								%a.icon.icon-envellope-mail-streamline
							.col-xs-3.col-sm-3.col-md-3.action
								%a.icon-man-people-streamline-user
.row			
	= link_to('Ver todos los proyectos', projects_path, class: 'btn btn-lg btn-grey')