<div class="splash" style="background-image:url('assets/ba.jpg')">
	<div class="center">
		<h1>
			<span>ThinkSmart</span> es una red social de ciudadanos
			<br/>
			y ciudades. Sumate y ayudanos a generar
			<br/>
			conciencia sobre el espacio que habitamos!
		</h1>
		<button class="btn btn-default">Be Smart!</button>
	</div>
</div>
<div class="start">
	<div class="title">
		<h1>Buenos Aires</h1>
	</div>
</div>
<div class="row cyan">
	<div class="col-sm-3 col-md-3 featured size-mid">
		<div class="row cyan">
			<div class="title">
				<h1>
					Buenos Aires cambia el uso horario para aprovechar la luz natural.
				</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat tortor neque, vitae elementum ante sodales at. Nunc tempus, ante at commodo euismod, nisi neque posuere lectus, in malesuada justo sem eu risus. Nulla quis erat interdum, condimentum lacus eu, euismod sem. Maecenas interdum venenatis justo quis aliquet...
				</p>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
						<p>by Pablo Hernandez</p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<button class="btn btn-primary">T</button>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-md-6">
						<img src="assets/icons2.png">
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<p>25 de Junio de 2015</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 featured-slide">
		<div class="row">
			<ul class="slider">
				<li>
					<div class="row slide">
						<div class="col-sm-12 col-md-12">
							<div class="row photo">
								<img src="assets/featured.jpg">
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="row slide">
						<div class="col-sm-12 col-md-12">
							<div class="row">
								<div class="photo">
									<img src="assets/featured.jpg">
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-3 city-resume">
		<div class="title">
			<h1>Buenos Aires</h1>
			<h2><span>#4</span> Ranking Smart Cities</h2>
			<h2 style="margin-top:1.5em;">Poblacion <span>3.085.275 hab.</span></h2>
		</div>
		<div class="row population">
			<div class="col-md-12">
				<div class="col-xs-7 col-sm-8 col-md-8">
					<div class="row men">
						<img src="assets/men.png"/>
						<div class="percent"></div>
					</div>
				</div>
				<div class="col-xs-5 col-sm-4 col-md-4">
					<h3>46.49%</h3>
					<p>HOMBRES</p>
				</div>
			</div>
		</div>
		<div class="row population">
			<div class="col-md-12">
				<div class="col-xs-7 col-md-8">
					<div class="row women">
						<img src="assets/women.png"/>
						<div class="percent"></div>
					</div>
				</div>
				<div class="col-xs-5 col-md-4">
					<h3>46.49%</h3>
					<p>MUJERES</p>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-6 col-md-6 chart">
				<div class="circle" data-dimension="120" data-text="35%" data-info="" data-width="10" data-fontsize="24" data-percent="35" data-fgcolor="#61a9dc" data-bgcolor="#eee" data-fill="#ddd"></div>
			</div>
			<div class="col-xs-6 col-md-6 chart">
				<div class="circle" data-dimension="120" data-text="15%" data-info="" data-width="10" data-fontsize="24" data-percent="15" data-fgcolor="#61a9dc" data-bgcolor="#eee" data-fill="#ddd"></div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="row">
			<div class="news">
				<div class="row title">
					<div class="col-md-10">
						<h1>
							Novedades en <span>Buenos Aires.</span>
						</h1>
					</div>
					<div class="col-md-1 hidden-xs">	
						<div id="prev-news"></div>
					</div>
					<div class="col-md-1 hidden-xs">	
						<div id="next-news"></div>
					</div>
				</div>
				<ul class="slider">
					<% @posts.each do |post| %>
						<li>
							<div class="slide">
								<div class="col-sm-6 col-md-6">
									<div class="row photo">
										<img src="assets/featured.jpg">
									</div>
									<div class="row info">
										<h2>
											<%= post.title %>
										</h2>
										<div class="row">
											<div class="col-xs-6 col-md-6">
												<p><%= post.user.email %></p>
											</div>
											<div class="col-xs-6 col-md-6">
												<button class="btn btn-primary">T</button>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-6 col-md-6">
												<img src="assets/icons.png">
											</div>
											<div class="col-xs-6 col-md-6">
												<p><%= project.created_at.to_formatted_s(:long) %></p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-6 col-md-6">
									<div class="row photo">
										<img src="assets/featured.jpg">
									</div>
									<div class="row info">
										<h2>
											Se aplicaran luminarias LED en todas las avenidas de Buenos Aires.
										</h2>
										<div class="row">
											<div class="col-xs-6 col-md-6">
												<p>by Pablo Hernandez</p>
											</div>
											<div class="col-xs-6 col-md-6">
												<button class="btn btn-primary">T</button>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-6 col-md-6">
												<img src="assets/icons.png">
											</div>
											<div class="col-xs-6 col-md-6">
												<p>25 de Junio de 2015</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
					<%end%>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="projects_resume">
				<div class="row title">
					<div class="col-md-10">
						<h1>
							Proyectos en <span>Buenos Aires.</span>
						</h1>
					</div>
					<div class="col-md-1 hidden-xs">	
						<div id="prev-projects"></div>
					</div>
					<div class="col-md-1 hidden-xs">	
						<div id="next-projects"></div>
					</div>
				</div>
				<ul class="slider">
					<% @projects.each do |project| %>
						<li>
							<div class="slide">
								<div class="col-md-12">
									<div class="row">
										<div class="col-sm-6 col-md-6 info">
											<div class="row">
												<h2>
													<%= project.title %>
												</h2>
												<div class="row">
													<div class="col-xs-6 col-sm-6 col-md-6">
														<p><%= project.user.email %></p>
													</div>
													<div class="col-xs-6 col-sm-6 col-md-6">
														<button class="btn btn-primary">T</button>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-6 col-md-6">
														<img src="assets/icons2.png">
													</div>
													<div class="col-xs-6 col-sm-6 col-md-6">
														<p><%= project.created_at.to_formatted_s(:long) %></p>
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-6 col-md-6 photo">
											<div class="row">
												<img src="assets/featured.jpg">
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="row">
										<div class="col-sm-6 col-md-6 photo">
											<div class="row">
												<img src="assets/featured.jpg">
											</div>
										</div>
										<div class="col-sm-6 col-md-6 info">
											<div class="row">
												<h2>
													Se aplicaran luminarias LED en todas las avenidas de Buenos Aires.
												</h2>
												<div class="row">
													<div class="col-xs-6 col-sm-6 col-md-6">
														<p>by Pablo Hernandez</p>
													</div>
													<div class="col-xs-6 col-sm-6 col-md-6">
														<button class="btn btn-primary">T</button>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-6 col-md-6">
														<img src="assets/icons2.png">
													</div>
													<div class="col-xs-6 col-sm-6 col-md-6">
														<p>25 de Junio de 2015</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
					<%end%>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="row about">
	<div class="col-md-4 box">
		<img src="assets/about.png"/>
		<h1>Que es <span>ThinkSmart</span>?</h1>
		<p>
			Amsterdam Smart City (ASC) is the innovation platform of the Amsterdam Metropolitan Area. It challenges businesses, residents, the municipality and knowledge institutions to suggest and apply innovative ideas & solutions for urban issues.
			<br/><br/>
			Since 2009 Amsterdam Smart City has grown into a platform comprising of in excess of 100 partners, who are actively involved in more than 89 innovative projects.
		</p>
	</div>
	<div class="col-md-4 box" style="background-color:#E6E7E7;">
		<img src="assets/about.png"/>
		<h1>Porque es <span>importante</span>?</h1>
		<p>
			Amsterdam Smart City (ASC) is the innovation platform of the Amsterdam Metropolitan Area. It challenges businesses, residents, the municipality and knowledge institutions to suggest and apply innovative ideas & solutions for urban issues.
			<br/><br/>
			Since 2009 Amsterdam Smart City has grown into a platform comprising of in excess of 100 partners, who are actively involved in more than 89 innovative projects.
		</p>
	</div>
	<div class="col-md-4 box" style="background-color:#DCDDDE;">
		<img src="assets/about.png"/>
		<h1>Como puedo <span>participar</span>?</h1>
		<p>
			Amsterdam Smart City (ASC) is the innovation platform of the Amsterdam Metropolitan Area. It challenges businesses, residents, the municipality and knowledge institutions to suggest and apply innovative ideas & solutions for urban issues.
			<br/><br/>
			Since 2009 Amsterdam Smart City has grown into a platform comprising of in excess of 100 partners, who are actively involved in more than 89 innovative projects.
		</p>
	</div>
</div>
<script>
    $(function() {
    	$('.splash').parallax("50%", 0.1);
        $('.circle').circliful();
        $('.featured-slide .slider').bxSlider({
        	auto: true,
        	pause: 5000,
        	useCSS:true,
        	easing: 'cubic-bezier(.74,.14,.44,.71)',
  			nextText: '→',
  			prevText: '←'
        });
        $('.news .slider').bxSlider({
        	useCSS:true,
        	easing: 'cubic-bezier(.74,.14,.44,.71)',
        	nextSelector: '#next-news',
  			prevSelector: '#prev-news',
  			nextText: '→',
  			prevText: '←',
  			pager: false

        });
        $('.projects_resume .slider').bxSlider({
        	useCSS:true,
        	easing: 'cubic-bezier(.74,.14,.44,.71)',
        	nextSelector: '#next-projects',
  			prevSelector: '#prev-projects',
  			nextText: '→',
  			prevText: '←',
  			pager: false
        });
    });
    $(window).on("scroll", function() {
		if ($(this).scrollTop() > 100) {
			$('.navigation').addClass('white');
		}
		else {
			$('.navigation').removeClass('white');
		}
	});
</script>