/ Splash Screen

%header
	.swiper-container
		.swiper-wrapper
			- @splashes.each do |splash|
				.swiper-slide{:style => "background-image: url(#{splash.image.url(:high)})"}
					.intro-text
						.container
							.intro-heading
								#{splash.title}
							.intro-lead-in
								#{splash.subtitle}
							
							= link_to(splash.call_to_action, splash.link, class: 'howitworks btn btn-xl')
		.swiper-pagination
		.swiper-button-next.hidden-xs
		.swiper-button-prev.hidden-xs

%section#categories
	.container
		- @categories.each do |category|
			.cat-item
				= link_to(category_path(category), class: 'cat cat' + category.id.to_s) do
					.col-xs-12.col-sm-6.col-md-3.icon
						= image_tag('cat_icons/cat' + category.id.to_s + '.svg')
					.col-sm-6.col-md-9.text.visible-lg
						%p
							#{category.name}


%section#cities.text-center.grid.swiper-carousel
	.row
		.container-fluid
			.col-md-12.cities-list
				.row.title
					.col-md-12
						%h2.section-heading
							= t('cities.title')
	.row
		.container
			.swiper-container
				.swiper-wrapper
					- @cities.each do |city|
						.swiper-slide.item
							.item-wrap
								= link_to(city_path(city), class: 'item-link') do
									- if city.images.empty?
										.item-photo{:style => "background-image: url(image-not-available.jpg)"}
									- else
										- city.images.each do |image|
											- if image.cover == true
												.item-photo.item-photo-md{:style => "background-image: url(#{image.file.url(:small)})"}
									.item-hover
										.item-hover-content
											#{city.name}
		.swiper-pagination
		= link_to(t('cities.view_more'), cities_path, class: 'btn btn-lg btn-grey')
		#cities-arrows.swiper-arrows-custom
			.swiper-button-next.swiper-button-black
			.swiper-button-prev.swiper-button-black

%section#projects.text-center.bg-light-gray.grid.swiper-carousel
	= render 'shared/featured_projects'
	
%section#posts.text-center.grid.swiper-carousel.bg-light-gray			
	= render 'shared/featured_posts'

:javascript
	$(function(){
		var swiper = new Swiper('header .swiper-container', {
			pagination: 'header .swiper-pagination',
			paginationClickable: true,
			nextButton: 'header .swiper-button-next',
			prevButton: 'header .swiper-button-prev',
			loop: true
		});
		var swiper = new Swiper('#cities .swiper-container', {
			pagination: '#cities .swiper-pagination',
			slidesPerView: 3,
			paginationClickable: true,
			nextButton: '#cities-arrows .swiper-button-next',
			prevButton: '#cities-arrows .swiper-button-prev',
			spaceBetween: 30,
			breakpoints: {
				1200: {
					slidesPerView: 3,
					spaceBetween: 30
				},
				768: {
					slidesPerView: 2,
					spaceBetween: 15
				},
				460: {
					slidesPerView: 1,
					spaceBetween: 15
				}
			}
		});
		var swiper = new Swiper('#projects .swiper-container', {
			pagination: '#projects .swiper-pagination',
			slidesPerView: 3,
			paginationClickable: true,
			nextButton: '#projects-arrows .swiper-button-next',
			prevButton: '#projects-arrows .swiper-button-prev',
			spaceBetween: 35,
			breakpoints: {
				1200: {
					slidesPerView: 3,
					spaceBetween: 45
				},
				768: {
					slidesPerView: 3,
					spaceBetween: 15
				},
				460: {
					slidesPerView: 1,
					spaceBetween: 15
				}
			}
		});
		var swiper = new Swiper('#posts .swiper-container', {
			pagination: '#posts .swiper-pagination',
			slidesPerView: 3,
			paginationClickable: true,
			nextButton: '#posts-arrows .swiper-button-next',
			prevButton: '#posts-arrows .swiper-button-prev',
			spaceBetween: 30,
			breakpoints: {
				1200: {
					slidesPerView: 3,
					spaceBetween: 30
				},
				768: {
					slidesPerView: 3,
					spaceBetween: 15
				},
				460: {
					slidesPerView: 1,
					spaceBetween: 15
				}
			}
		});
	});