/ Splash Screen

%header
	.swiper-container
		.swiper-wrapper
			.swiper-slide{:style => "background-image: url('assets/home01.jpg')"}
				.intro-text
					.container
						.intro-heading
							Bienvenido a ThinkSmart
						.intro-lead-in
							Sumate y ayudanos a construir ciudades mas inteligentes
						
						= link_to('Be Smart', '#', class: 'howitworks btn btn-xl')
			.swiper-slide{:style => "background-image: url('assets/home01.jpg')"}
				.intro-text
					.container
						.intro-heading
							¿Tenés una buena idea?
						.intro-lead-in
							Creá tu proyecto y compartilo con nuestra comunidad 
						
						= link_to('Comenzar', '#', class: 'btn btn-xl')
			.swiper-slide{:style => "background-image: url('assets/home01.jpg')"}
				.intro-text
					.container
						.intro-heading
							Descubri
						.intro-lead-in
							y aprende mas sobre ciudades inteligentes 
						
						= link_to('Descubrir', '#', class: 'btn btn-xl')
		.swiper-pagination
		.swiper-button-next.hidden-xs
		.swiper-button-prev.hidden-xs

= render 'shared/categories'


%section#cities.text-center.grid.swiper-carousel
	.row
		.container-fluid
			.col-md-12.cities-list
				.row.title
					.col-md-12
						%h2.section-heading
							Ciudades
							%span
								Inteligentes.
	.container
		.swiper-container
			.swiper-wrapper
				- @cities.each do |city|
					.swiper-slide.item
						.item-wrap
							= link_to(city_path(city), class: 'item-link') do
								- if city.images.empty?
									.item-photo{:style => "background-image: url(image-not-available.jpg)"}
								- else
									- city.images.each do |image|
										- if image.cover == true
											.item-photo.item-photo-md{:style => "background-image: url(#{image.file.url(:small)})"}
								.item-hover
									.item-hover-content
										#{city.name}
			.swiper-pagination
			.swiper-button-next.swiper-button-black
			.swiper-button-prev.swiper-button-black
		= link_to('Ver todas las ciudades', cities_path, class: 'btn btn-lg btn-grey')

%section#projects.text-center.bg-light-gray.grid.swiper-carousel
	.row
		.container-fluid
			.col-md-12.cities-list
				.row.title
					.col-md-12
						%h2.section-heading
							Proyectos
							%span
								Destacados.
	.container
		.swiper-container
			.swiper-wrapper
				- @projects_home.each do |project|
					.swiper-slide.item
						.item-wrap.text-left
							= link_to(project_path(project), class: 'item-link') do
								- if project.images.empty?
									.item-photo{:style => "background-image: url(image-not-available.jpg)"}
								- else
									- project.images.each do |image|
										- if image.cover == true
											.item-photo.item-photo-xs{:style => "background-image: url(#{image.file.url(:small)})"}
								.item-hover
									.item-hover-content
										%i.fa.fa-plus
					
							.item-caption
								%p.text-muted
									#{project.created_at.to_date.to_formatted_s(:long)}
								
								%h4
									#{truncate(project.title, :length => 70)}
									%br
									—
								= link_to('#', :class => "item-cat icon #{project.category.name} icon-#{project.category.name}") do
									#{project.category.name}
								= link_to(city_path(project.city), class: 'item-city') do
									%span.icon.icon-earth-globe-streamline
									#{project.city.name}
							.item-actions
								.col-xs-3.col-sm-3.col-md-3.action
									%a.icon.icon-map-streamline-user
								.col-xs-3.col-sm-3.col-md-3.action
									%a.icon.icon-like-love-streamline
								.col-xs-3.col-sm-3.col-md-3.action
									%a.icon.icon-envellope-mail-streamline
								.col-xs-3.col-sm-3.col-md-3.action
									%a.icon-man-people-streamline-user
			.swiper-pagination
			.swiper-button-next.swiper-button-black
			.swiper-button-prev.swiper-button-black
		= link_to('Ver todos los proyectos', projects_path, class: 'btn btn-lg btn-grey')

%section#posts.text-center.grid.swiper-carousel
	.row
		.container-fluid
			.col-md-12.cities-list
				.row.title
					.col-md-12
						%h2.section-heading
							Publicaciones
							%span
								Destacadas.
	.container
		.swiper-container
			.swiper-wrapper
				- @posts_home.each do |post|
					.swiper-slide.item
						.item-wrap.text-left
							= link_to(post_path(post), class: 'item-link') do
								- if post.images.empty?
									.item-photo{:style => "background-image: url(image-not-available.jpg)"}
								- else
									- post.images.each do |image|
										- if image.cover == true
											.item-photo.item-photo-xs{:style => "background-image: url(#{image.file.url(:small)})"}
								.item-hover
									.item-hover-content
										%i.fa.fa-plus
					
							.item-caption
								%p.text-muted
									#{post.created_at.to_date.to_formatted_s(:long)}
								%h4
									#{truncate(post.title, :length => 70)}
									%br
									—
								= link_to('#', :class => "item-cat icon #{post.category.name} icon-#{post.category.name}") do
									#{post.category.name}
									= link_to(city_path(post.city), class: 'item-city') do
										%span.icon.icon-earth-globe-streamline
										#{post.city.name}
							.item-actions
								.col-xs-3.col-sm-3.col-md-3.action
									%a.icon.icon-map-streamline-user
								.col-xs-3.col-sm-3.col-md-3.action
									%a.icon.icon-like-love-streamline
								.col-xs-3.col-sm-3.col-md-3.action
									%a.icon.icon-envellope-mail-streamline
								.col-xs-3.col-sm-3.col-md-3.action
									%a.icon-man-people-streamline-user
			.swiper-pagination
			.swiper-button-next.swiper-button-black
			.swiper-button-prev.swiper-button-black
		= link_to('Ver todas las publicaciones', posts_path, class: 'btn btn-lg btn-grey')

:javascript
	$(function(){
		var swiper = new Swiper('header .swiper-container', {
			pagination: 'header .swiper-pagination',
			paginationClickable: true,
			nextButton: 'header .swiper-button-next',
			prevButton: 'header .swiper-button-prev',
			loop: true
		});
		var swiper = new Swiper('#cities .swiper-container', {
			pagination: '#cities .swiper-pagination',
			slidesPerView: 3,
			paginationClickable: true,
			nextButton: '#cities .swiper-button-next',
			prevButton: '#cities .swiper-button-prev',
			spaceBetween: 30,
			breakpoints: {
				1200: {
					slidesPerView: 3,
					spaceBetween: 30
				},
				768: {
					slidesPerView: 2,
					spaceBetween: 15
				},
				460: {
					slidesPerView: 1,
					spaceBetween: 15
				}
			}
		});
		var swiper = new Swiper('#projects .swiper-container', {
			pagination: '#projects .swiper-pagination',
			slidesPerView: 4,
			paginationClickable: true,
			nextButton: '#projects .swiper-button-next',
			prevButton: '#projects .swiper-button-prev',
			spaceBetween: 30,
			breakpoints: {
				1200: {
					slidesPerView: 4,
					spaceBetween: 30
				},
				768: {
					slidesPerView: 3,
					spaceBetween: 15
				},
				460: {
					slidesPerView: 1,
					spaceBetween: 15
				}
			}
		});
		var swiper = new Swiper('#posts .swiper-container', {
			pagination: '#posts .swiper-pagination',
			slidesPerView: 4,
			paginationClickable: true,
			nextButton: '#posts .swiper-button-next',
			prevButton: '#posts .swiper-button-prev',
			spaceBetween: 30,
			breakpoints: {
				1200: {
					slidesPerView: 4,
					spaceBetween: 30
				},
				768: {
					slidesPerView: 3,
					spaceBetween: 15
				},
				460: {
					slidesPerView: 1,
					spaceBetween: 15
				}
			}
		});
	});