/ Splash Screen

%header
	.swiper-container
		.swiper-wrapper
			.swiper-slide{:style => "background-image: url('assets/home01.jpg')"}
				.intro-text
					.container
						.intro-heading
							Bienvenido a ThinkSmart
						.intro-lead-in
							Sumate y ayudanos a construir ciudades mas inteligentes
						
						= link_to('Como Funciona?', '#', class: 'howitworks btn btn-xl')
			.swiper-slide{:style => "background-image: url('assets/home02.jpg')"}
				.intro-text
					.container
						.intro-heading
							¿Tenés una buena idea?
						.intro-lead-in
							Creá tu proyecto y compartilo con nuestra comunidad 
						
						= link_to('Comenzar', '#', class: 'btn btn-xl')
			.swiper-slide{:style => "background-image: url('assets/home03.jpg')"}
				.intro-text
					.container
						.intro-heading
							Descubri
						.intro-lead-in
							y aprende mas sobre ciudades inteligentes 
						
						= link_to('Descubrir', '#', class: 'btn btn-xl')
		.swiper-pagination
		.swiper-button-next.hidden-xs
		.swiper-button-prev.hidden-xs

= render 'shared/categories'


%section#cities.text-center.grid.swiper-carousel
	.row
		.container-fluid
			.col-md-12.cities-list
				.row.title
					.col-md-12
						%h2.section-heading
							Ciudades
							%span
								Inteligentes.
	.row
		.container
			.swiper-container
				.swiper-wrapper
					- @cities.each do |city|
						.swiper-slide.item
							.item-wrap
								= link_to(city_path(city), class: 'item-link') do
									- if city.images.empty?
										.item-photo{:style => "background-image: url(image-not-available.jpg)"}
									- else
										- city.images.each do |image|
											- if image.cover == true
												.item-photo.item-photo-md{:style => "background-image: url(#{image.file.url(:small)})"}
									.item-hover
										.item-hover-content
											#{city.name}
		.swiper-pagination
		= link_to('Ver todas las ciudades', cities_path, class: 'btn btn-lg btn-grey')
		#cities-arrows.swiper-arrows-custom
			.swiper-button-next.swiper-button-black
			.swiper-button-prev.swiper-button-black

%section#projects.text-center.bg-light-gray.grid.swiper-carousel
	= render 'shared/featured_projects'
	
%section#posts.text-center.grid.swiper-carousel.bg-light-gray			
	= render 'shared/featured_posts'

:javascript
	$(function(){
		var swiper = new Swiper('header .swiper-container', {
			pagination: 'header .swiper-pagination',
			paginationClickable: true,
			nextButton: 'header .swiper-button-next',
			prevButton: 'header .swiper-button-prev',
			loop: true
		});
		var swiper = new Swiper('#cities .swiper-container', {
			pagination: '#cities .swiper-pagination',
			slidesPerView: 3,
			paginationClickable: true,
			nextButton: '#cities-arrows .swiper-button-next',
			prevButton: '#cities-arrows .swiper-button-prev',
			spaceBetween: 30,
			breakpoints: {
				1200: {
					slidesPerView: 3,
					spaceBetween: 30
				},
				768: {
					slidesPerView: 2,
					spaceBetween: 15
				},
				460: {
					slidesPerView: 1,
					spaceBetween: 15
				}
			}
		});
		var swiper = new Swiper('#projects .swiper-container', {
			pagination: '#projects .swiper-pagination',
			slidesPerView: 3,
			paginationClickable: true,
			nextButton: '#projects-arrows .swiper-button-next',
			prevButton: '#projects-arrows .swiper-button-prev',
			spaceBetween: 35,
			breakpoints: {
				1200: {
					slidesPerView: 3,
					spaceBetween: 45
				},
				768: {
					slidesPerView: 3,
					spaceBetween: 15
				},
				460: {
					slidesPerView: 1,
					spaceBetween: 15
				}
			}
		});
		var swiper = new Swiper('#posts .swiper-container', {
			pagination: '#posts .swiper-pagination',
			slidesPerView: 3,
			paginationClickable: true,
			nextButton: '#posts-arrows .swiper-button-next',
			prevButton: '#posts-arrows .swiper-button-prev',
			spaceBetween: 30,
			breakpoints: {
				1200: {
					slidesPerView: 3,
					spaceBetween: 30
				},
				768: {
					slidesPerView: 3,
					spaceBetween: 15
				},
				460: {
					slidesPerView: 1,
					spaceBetween: 15
				}
			}
		});
	});