.row
%section#projects-1.text-center.grid.swiper-simple
	.row
		.container-fluid
			.col-md-12
				.row.title
					.col-md-12
						%h2.section-heading
							Editar
							%span
								Proyecto.
	.row.text-left
		.container
			.col-md-6.col-md-offset-3
				= form_for @project, :html => { multipart: true } do |f|
					.col-md-12
						.row
							.form-group
								= f.label :title, 'Titulo', class: 'control-label'
								= f.text_field :title, autofocus: true, class: 'form-control'
						.row
							.form-group.simple-select
								= f.label :project_type_id, 'Tipo de Proyecto', class: 'control-label'
								= f.collection_select :project_type_id, ProjectType.all, :id, :name, {include_blank: false}
						.row
							.form-group
								= f.label :description, 'Descripcion del proyecto', class: 'control-label'
								= f.text_area(:description, rows: 10, class: 'form-control')
						.row
							.form-group
								= f.label :benefit, 'Beneficios', class: 'control-label'
								= f.text_area(:benefit, rows: 10, class: 'form-control')
						.row
							.form-group
								= f.label :solved_problems, 'Problemas que soluciona', class: 'control-label'
								= f.text_area(:solved_problems, rows: 10, class: 'form-control')
						.row
							.form-group.simple-select
								= f.label :category_id, 'Frente', class: 'control-label'
								= f.collection_select :category_id, Category.all, :id, :name, {include_blank: false}
						.row
							.form-group.simple-select
								= f.label :city_id, 'Ciudad', class: 'control-label'
								= f.collection_select :city_id, City.all, :id, :name, {include_blank: false}
						.row
							.form-group.multiple-select
								= f.label :target_ids, '¿A quiénes esta dirigido?', class: 'control-label'
								= f.collection_select :target_ids, Target.all, :id, :name, {include_blank: false}, {:multiple => true}
						.row
							.form-group.simple-select
								= f.label :phase, 'Phase', class: 'control-label'
								= f.collection_select :city_id, Phase.all, :id, :name, {include_blank: false}
						.row
							.form-group
								= f.label :advance, 'Porcentaje de avance', class: 'control-label'
								= f.text_field :advance, autofocus: true, class: 'form-control'
						.row
							.form-group
								= f.label :Images, 'Imagenes', class: 'control-label'
								= file_field_tag "images[]", type: :file, multiple: true
						.row
							.form-group
								= f.submit "CREAR PROYECTO", class: 'btn btn-success'
:javascript
	$('.simple-select select').select2({
		theme: "bootstrap",
		allowClear: true,
		placeholder: 'Seleccionar'
	});
	$('.multiple-select select').multipleSelect({
		placeholder: 'Selecionar'
	});