.row.categories.full
	.col-xs-2.col-sm-2.col-md-2
		- if @transport
			= link_to city_projects_path, class: 'cat transport selected' do
				.col-xs-12.col-sm-6.col-md-3.icon
					= image_tag('cat_icons/transport_on.svg')
				.col-sm-6.col-md-9.text.visible-lg
					%p
						Transporte
						%br
						y movilidad
		- else
			= link_to transport_city_projects_path, class: 'cat transport' do
				.col-xs-12.col-sm-6.col-md-3.icon
					= image_tag('cat_icons/transport.svg')
				.col-sm-6.col-md-9.text.visible-lg
					%p
						Transporte
						%br
						y movilidad
	.col-xs-2.col-sm-2.col-md-2
		- if @development
			= link_to city_projects_path, class: 'cat development selected' do
				.col-xs-12.col-sm-6.col-md-3.icon
					= image_tag('cat_icons/development_on.svg')
				.col-sm-6.col-md-9.text.visible-lg
					%p
						Desarrollo
						%br
						urbano
		- else
			= link_to development_city_projects_path, class: 'cat development' do
				.col-xs-12.col-sm-6.col-md-3.icon
					= image_tag('cat_icons/development.svg')
				.col-sm-6.col-md-9.text.visible-lg
					%p
						Desarrollo
						%br
						urbano
	.col-xs-2.col-sm-2.col-md-2
		- if @environment
			= link_to city_projects_path, class: 'cat environment selected' do
				.col-xs-12.col-sm-6.col-md-3.icon
					= image_tag('cat_icons/environment_on.svg')
				.col-sm-6.col-md-9.text.visible-lg
					%p
						Medio ambiente
						%br
						y recursos nat.
		- else
			= link_to environment_city_projects_path, class: 'cat environment' do
				.col-xs-12.col-sm-6.col-md-3.icon
					= image_tag('cat_icons/environment.svg')
				.col-sm-6.col-md-9.text.visible-lg
					%p
						Medio ambiente
						%br
						y recursos nat.
	.col-xs-2.col-sm-2.col-md-2
		- if @people
			= link_to city_projects_path, class: 'cat people selected' do
				.col-xs-12.col-sm-6.col-md-3.icon
					= image_tag('cat_icons/people_on.svg')
				.col-sm-6.col-md-9.text.visible-lg
					%p
						Desarrollo de
						%br
						las personas
		- else
			= link_to people_city_projects_path, class: 'cat people' do
				.col-xs-12.col-sm-6.col-md-3.icon
					= image_tag('cat_icons/people.svg')
				.col-sm-6.col-md-9.text.visible-lg
					%p
						Desarrollo de
						%br
						las personas
	.col-xs-2.col-sm-2.col-md-2
		- if @community
			= link_to city_projects_path, class: 'cat community selected' do
				.col-xs-12.col-sm-6.col-md-3.icon
					= image_tag('cat_icons/community_on.svg')
				.col-sm-6.col-md-9.text.visible-lg
					%p
						Comunidad
		- else
			= link_to community_city_projects_path, class: 'cat community' do
				.col-xs-12.col-sm-6.col-md-3.icon
					= image_tag('cat_icons/community.svg')
				.col-sm-6.col-md-9.text.visible-lg
					%p
						Comunidad
	.col-xs-2.col-sm-2.col-md-2
		- if @innovation
			= link_to city_projects_path, class: 'cat innovation selected' do
				.col-xs-12.col-sm-6.col-md-3.icon
					= image_tag('cat_icons/innovation_on.svg')
				.col-sm-6.col-md-9.text.visible-lg
					%p
						Innovacion
						%br
						y desarrollo
		- else
			= link_to innovation_city_projects_path, class: 'cat innovation' do
				.col-xs-12.col-sm-6.col-md-3.icon
					= image_tag('cat_icons/innovation.svg')
				.col-sm-6.col-md-9.text.visible-lg
					%p
						Innovacion
						%br
						y desarrollo

/featured projects

- if @transport || @develppment || @environment || @people || @community || @innovation
	.row.information
		%p Para eliminar el filtro seleccionado, hace click en el boton
.row.featured
	.col-md-6.featured-slide
		.row
			%ul.slider
				- @projects_home.each do |project|
					%li
						.row.slide
							.col-sm-12.col-md-12
								- if project.images.empty?
									.row.photo{:style => "background-image: url(image-not-available.jpg)"}
								- else
									- project.images.each do |image|
										- if image.cover == true
											.row.photo{:style => "background-image: url(#{image.file.url(:large)})"}
	.col-md-6.featured-titles							
		.row
			%ul.slider
				- @projects_home.each do |project|
					%li.slide
						.info
							.row
								%p.date
									#{project.created_at.to_date.to_formatted_s(:long)}
							.row
								= link_to(truncate(project.title, :length => 70), city_project_path(city,project))
							.row.hidden-xs	
								%p
									#{simple_format truncate(project.description, :length => 420)}
							.row.bottom
								.col-xs-6.col-sm-4.col-md-4
									= link_to(city_project_path(city,project), class: 'cat-icon') do
										#{image_tag "cat_icons/#{project.category.name}.svg"}
										#{project.category.name}
								.col-sm-4.col-md-4.hidden-xs.actions-box
									.actions
										.action
											%a.icon.icon-map-streamline-user
										.action
											%a.icon.icon-like-love-streamline
										.action
											%a.icon.icon-envellope-mail-streamline
								.col-xs-6.col-sm-4.col-md-4
									%p.user
										%i.icon.icon-man-people-streamline-user
										= link_to(project.user.name, '#')

/ projects list

.row
	.col-md-12.projects-list
		.row.title
			.col-md-12
				%h1
					Proyectos en
					%span
						Buenos Aires.
		.row
			- @projects.each do |project|
				.col-md-6.item
					.row
						.col-sm-6.col-md-6.info
							.row
								.col-xs-6.col-md-6
									%p.date
										#{project.created_at.to_date.to_formatted_s(:long)}
								.col-xs-6.col-md-6
									= link_to(city_project_path(city,project), class: 'cat-icon') do
										#{image_tag "cat_icons/#{project.category.name}.svg"}
										#{project.category.name}
							.row.header
								= link_to(truncate(project.title, :length => 70), city_project_path(city,project))
							.row.bottom	
								.col-xs-6.col-md-6
									.actions
										.action
											%a.icon.icon-map-streamline-user
										.action
											%a.icon.icon-like-love-streamline
										.action
											%a.icon.icon-envellope-mail-streamline
								.col-xs-6.col-md-6
									%p.user
										%i.icon.icon-man-people-streamline-user
										= link_to(project.user.name, '#')
						.col-sm-6.col-md-6
							- if project.images.empty?
								.row.photo{:style => "background-image: url(image-not-available.jpg)"}
							- else
								- project.images.each do |image|
									- if image.cover == true
										.row.photo{:style => "background-image: url(#{image.file.url(:large)})"}

/javascript functions

:javascript
	$(function() {
		var slider = $('.featured-titles .slider').bxSlider({
			auto: false,
			pause: 5000,
			useCSS:true,
			easing: 'cubic-bezier(.74,.14,.44,.71)',
			pager:false,
			controls:false,
			onSlidePrev: function(){
				slider2.goToPrevSlide();
			},
			onSlideNext: function(){
				slider2.goToNextSlide();
			}
		});
		var slider2 = $('.featured-slide .slider').bxSlider({
			auto: false,
			pause: 5000,
			useCSS:true,
			easing: 'cubic-bezier(.74,.14,.44,.71)',
				nextText: '→',
				prevText: '←',
			onSlidePrev: function(){
				slider.goToPrevSlide();
			},
			onSlideNext: function(){
				slider.goToNextSlide();
			}
		});
	});