/project slider
- if (@project.user = current_user ) && (@project.status = 'pending')
	.row.pending.box.bg-warning.text-center
		.container
			%p
				Este Proyecto se encuentra en etapa de aprovacion. Esto quiere decir que por el momento, solo tu puedes verlo.
				%br
				Este proceso tarda un maximo de 48hs habiles. Si quieres modificarlo puedes hacer click
				= link_to('Aquí', edit_project_path(@project))
= render 'shared/categories'
%section.bg-light-gray
	.container
		.row.text-center
			%h2.section-heading
				#{@project.title}
			%p.section-body.date
				= t('project.by')
		.row.spaced	
			.col-md-7
				.item-wrap
					.swiper-container
						.swiper-wrapper
							- @project.images.each do |image|
								.swiper-slide{:style => "background-image: url(#{image.file.url(:high)})"}
						.swiper-pagination
						.swiper-button-next
						.swiper-button-prev
			.col-md-5
				.section-box.no-gutter.section-box-padding
					.status
						.col-md-12
							.row
								%h2.section-subtitle
									%span
										= t('project.published') + ':'
									#{@project.created_at.to_date.to_formatted_s(:long)}
							.row
								%h2.section-subtitle
									%span
										= t('project.city') + ':'
									#{@project.city.name}
							.row
								%h2.section-subtitle
									%span
										= t('project.front') + ':'
									#{image_tag "cat_icons/#{@project.category.name}.svg"}
									#{@project.category.name}
							.row
								%h2.section-subtitle
									%span
										= t('project.category') + ':'
									#{image_tag "cat_icons/#{@project.project_type.name}.svg"}
									#{@project.project_type.name}
							.row
								%h2.section-subtitle
									%span
										= t('project.target') + ':'
									.item-wrap
							.row
								%h2.section-subtitle
									%span
										= t('project.status') + ':'
									
					.item-progress-box
						%h2.section-subtitle
							%span
								= t('project.evolution') + ':'
							#{@project.advance}%
						.item-progress
							.item-progress-bar{:style => "width: #{@project.advance}%"}
					= link_to(t('project.collaborate'), cities_path, class: 'btn btn-lg btn-green')

%section
	.container
		.row
			.col-md-7
				%h2.section-subtitle
					#{@project.subtitle}
				%p.section-body
					#{@project.description}
				%h2.section-title
					= t('project.problems')
				%p.section-body
					#{@project.solved_problems}
				%h2.section-title
					= t('project.benefits')
				%p.section-body
					#{@project.benefit}
			.col-md-5.bg-light-gray.item-wrap
				.col-md-12.section-box-padding
					%h2.section-subtitle
						= t('project.areas')

					%ul
						- @project.subcategories.each do |subcategory|
							%li
								%p
									#{subcategory.title}
					%h2.section-subtitle
						= t('project.partners')

					%p.section-body
						#{@project.partners}

					%h2.section-subtitle
						= t('project.collaborate')

					%p.section-body
						#{@project.collaboration}

					%h2.section-subtitle
						= t('project.links')

					%p.section-body
						#{@project.link}
				

%section.bg-white.collapsed#bottom-nav
	.container
		.row
			.col-xs-12.col-sm-3.col-md-3.hidden-xs
				= link_to('← ' + t('post.prev'),@previous, class: 'project-nav')
			.col-xs-12.col-sm-6.col-md-6
				.item-actions
					.col-xs-3.col-sm-3.col-md-3.action
						%a.icon.icon-map-streamline-user
					.col-xs-3.col-sm-3.col-md-3.action
						%a.icon.icon-like-love-streamline
					.col-xs-3.col-sm-3.col-md-3.action
						%a.icon.icon-envellope-mail-streamline
					.col-xs-3.col-sm-3.col-md-3.action
						%a.icon-man-people-streamline-user
			.col-xs-12.col-sm-3.col-md-3.hidden-xs
				= link_to(t('post.prev') + ' →',@next, class: 'project-nav pull-right')


/javascript functions

:javascript
	$(function(){
			var swiper = new Swiper('.swiper-container', {
				pagination: '.swiper-pagination',
				paginationClickable: true,
				nextButton: '.swiper-button-next',
				prevButton: '.swiper-button-prev',
				loop: true
			});
	});