/project slider
- if (@project.user = current_user ) && (@project.status = 'pending')
	.row.pending.hidden
		%p
			Este Proyecto se encuentra en etapa de aprovacion. Este proceso tarda un maximo de 48hs habiles.
			= link_to('Editar Proyecto', edit_project_path(@project))
= render 'shared/categories'
%section.bg-light-gray
	.container
		.row.text-center
			%h2.section-heading
				#{@project.title}
			%p.section-body.date
				Por 
		.row.spaced	
			.col-md-7
				.item-wrap
					.swiper-container
						.swiper-wrapper
							- @project.images.each do |image|
								.swiper-slide{:style => "background-image: url(#{image.file.url(:high)})"}
						.swiper-pagination
						.swiper-button-next
						.swiper-button-prev
			.col-md-5
				.section-box.no-gutter.section-box-padding
					.status
						.col-md-12
							.row
								%h2.section-subtitle
									%span
										Publicado el:
									#{@project.created_at.to_date.to_formatted_s(:long)}
							.row
								%h2.section-subtitle
									%span
										Ciudad:
									#{@project.city.name}
							.row
								%h2.section-subtitle
									%span
										Frente:
									#{image_tag "cat_icons/#{@project.category.name}.svg"}
									#{@project.category.name}
							.row
								%h2.section-subtitle
									%span
										Categoría:
									#{image_tag "cat_icons/#{@project.project_type.name}.svg"}
									#{@project.project_type.name}
							.row
								%h2.section-subtitle
									%span
										Target:
									.item-wrap
							.row
								%h2.section-subtitle
									%span
										Status:
									#{@project.phase.name}
					.item-progress-box
						%h2.section-subtitle
							%span
								Evolución del proyecto:
							#{@project.advance}%
						.item-progress
							.item-progress-bar{:style => "width: #{@project.advance}%"}
					= link_to('Colaborar con este proyecto', cities_path, class: 'btn btn-lg btn-green')

%section
	.container
		.row
			.col-md-7
				%h2.section-subtitle
					#{@project.subtitle}
				%p.section-body
					#{@project.description}
				%h2.section-title
					Problemas que soluciona
				%p.section-body
					#{@project.solved_problems}
				%h2.section-title
					Beneficios
				%p.section-body
					#{@project.benefit}
			.col-md-5.bg-light-gray.item-wrap
				.col-md-12.section-box-padding
					%h2.section-subtitle
						Areas en la que aplica

					%ul
						- @project.subcategories.each do |subcategory|
							%li
								%p
									#{subcategory.title}
					%h2.section-subtitle
						Partners

					%p.section-body
						#{@project.partners}

					%h2.section-subtitle
						Colaborar con el proyecto

					%p.section-body
						#{@project.collaboration}

					%h2.section-subtitle
						Link de interés

					%p.section-body
						#{@project.link}
				

%section.bg-white.collapsed#bottom-nav
	.container
		.row
			.col-xs-12.col-sm-3.col-md-3.hidden-xs
				= link_to('← Proyecto Anterior',@previous, class: 'project-nav')
			.col-xs-12.col-sm-6.col-md-6
				.item-actions
					.col-xs-3.col-sm-3.col-md-3.action
						%a.icon.icon-map-streamline-user
					.col-xs-3.col-sm-3.col-md-3.action
						%a.icon.icon-like-love-streamline
					.col-xs-3.col-sm-3.col-md-3.action
						%a.icon.icon-envellope-mail-streamline
					.col-xs-3.col-sm-3.col-md-3.action
						%a.icon-man-people-streamline-user
			.col-xs-12.col-sm-3.col-md-3.hidden-xs
				= link_to('Proyecto Siguiente →',@next, class: 'project-nav pull-right')


/javascript functions

:javascript
	$(function(){
			var swiper = new Swiper('.swiper-container', {
				pagination: '.swiper-pagination',
				paginationClickable: true,
				nextButton: '.swiper-button-next',
				prevButton: '.swiper-button-prev',
				loop: true
			});
	});