/project slider
- if (@project.user = current_user ) && (@project.status = 'pending')
	.row.pending.box.bg-warning.text-center
		.container
			%p
				Este Proyecto se encuentra en etapa de aprovacion. Esto quiere decir que por el momento, solo tu puedes verlo.
				%br
				Este proceso tarda un maximo de 48hs habiles. Si quieres modificarlo puedes hacer click
				= link_to('Aquí', edit_project_path(@project))

%section#categories
	.container
		- @categories.each do |category|
			.cat-item
				= link_to(category_path(category), class: 'cat cat' + category.id.to_s) do
					.col-xs-12.col-sm-6.col-md-3.icon
						= image_tag('cat_icons/cat' + category.id.to_s + '.svg')
					.col-sm-6.col-md-9.text.visible-lg
						%p
							#{category.name}

%section
	.container
		.row.text-center
			%h2.section-heading
				#{@project.title}
			%p.date
				= t('project.by')
				#{@project.user.name}
		.row.spaced	
			.col-md-7
				.item-wrap
					.swiper-container
						.swiper-wrapper
							- @project.images.each do |image|
								.swiper-slide{:style => "background-image: url(#{image.file.url(:high)})"}
						.swiper-pagination
						.swiper-button-next
						.swiper-button-prev
			.col-md-5
				.section-box.no-gutter.section-box-padding
					.status
						.col-md-12
							.row
								%h2.section-subtitle
									%span
										= t('project.published') + ':'
									#{@project.created_at.to_date.to_formatted_s(:long)}
							.row
								%h2.section-subtitle
									%span
										= t('project.city') + ':'
									#{@project.city.name}
							.row
								%h2.section-subtitle
									%span
										= t('project.front') + ':'
									= link_to('#', :class => "item-cat icon icon-#{@project.category.id} cat#{@project.category.id}")  do
										#{@project.category.name}
							.row
								%h2.section-subtitle
									%span
										= t('project.category') + ':'
									= image_tag('cat_icons/' + @project.project_type.name + '.svg', height: '30')
									#{@project.project_type.name}
							.row
								%h2.section-subtitle
									%span
										= t('project.target') + ':'
									- @project.targets.each do |target|
										· #{target.name}
							.row
								%h2.section-subtitle
									%span
										= t('project.status') + ':'
									#{@project.status}
									
					.item-progress-box
						%h2.section-subtitle
							%span
								= t('project.evolution') + ':'
							#{@project.advance}%
						.item-progress
							.item-progress-bar{:style => "width: #{@project.advance}%"}
					= link_to(t('project.collaborate'), cities_path, class: 'btn btn-lg btn-green')

%section.bg-light-gray
	.container
		.row
			.col-md-7
				%h2.section-title
					#{@project.subtitle}
				%p.section-body
					#{@project.description}
				%h2.section-title
					= t('project.problems')
				%p.section-body
					#{@project.solved_problems}
				%h2.section-title
					= t('project.benefits')
				%p.section-body
					#{@project.benefit}
			.col-md-5.bg-mid-gray.item-wrap
				.col-md-12.section-box-padding
					%h2.section-subtitle
						= t('project.areas')

					%ul
						- @project.subcategories.each do |subcategory|
							%li
								%p
									#{subcategory.title}
					%h2.section-subtitle
						= t('project.partners')

					%p.section-body
						#{@project.partners}

					%h2.section-subtitle
						= t('project.collaborate')

					%p.section-body
						#{@project.collaboration}

					%h2.section-subtitle
						= t('project.links')

					%p.section-body
						= link_to(@project.link, target: '_blank')
				

%section.bg-white#bottom-nav
	.container
		.row
			.col-xs-12.col-sm-3.col-md-3.hidden-xs
				= link_to('← ' + t('post.prev'),@previous, class: 'project-nav')
			.col-xs-12.col-sm-6.col-md-6
				.item-actions
					.col-xs-3.col-sm-3.col-md-3.action
						%a.icon.icon-map-streamline-user{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Aplica a mi ciudad"}
					.col-xs-3.col-sm-3.col-md-3.action
						%a.icon.icon-like-love-streamline{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Me gusta"}
					.col-xs-3.col-sm-3.col-md-3.action
						%a.icon.icon-envellope-mail-streamline{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Compartir"}
					.col-xs-3.col-sm-3.col-md-3.action
						%a.icon-man-people-streamline-user{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Aplica a mi ciudad"}
			.col-xs-12.col-sm-3.col-md-3.hidden-xs
				= link_to(t('post.prev') + ' →',@next, class: 'project-nav pull-right')


/javascript functions

:javascript
	$(function(){
		$('[data-toggle="tooltip"]').tooltip();
		var swiper = new Swiper('.swiper-container', {
			pagination: '.swiper-pagination',
			paginationClickable: true,
			nextButton: '.swiper-button-next',
			prevButton: '.swiper-button-prev',
			loop: true
		});
	});