/project slider

.project
	.row
		.col-md-8.featured
			.row
				%ul.slider
					- if @project.images.empty?
						%li
							.row.slide
								.col-sm-12.col-md-12
									.row.photo{:style => "background-image: url(image-not-available.jpg)"}
					- else
						- @project.images.each do |image|
							%li
								.row.slide
									.col-sm-12.col-md-12
										.row.photo{:style => "background-image: url(#{image.file.url(:large)})"}
			.row
				.info
					.row
						%p.date
							#{@project.created_at.to_date.to_formatted_s(:long)}
					.row
						%h1
							#{@project.title}
						%p
							#{simple_format(@project.description)}
					.row.bottom
						.col-xs-6.col-sm-4.col-md-4
							= link_to(city_project_path(city,@project), class: 'cat-icon') do
								#{image_tag "cat_icons/#{@project.category.name}.svg"}
								#{@project.category.name}
						.col-sm-4.col-md-4.hidden-xs
							.actions-box
								.actions
									.action
										%a.icon.icon-map-streamline-user
									.action
										%a.icon.icon-like-love-streamline
									.action
										%a.icon.icon-envellope-mail-streamline
						.col-xs-6.col-sm-4.col-md-4
							%p.user
								%i.icon.icon-man-people-streamline-user
								= link_to(@project.user.name, '#')

		.col-md-4.grey
			.col-xs-12.col-sm-3.col-md-12.info
				.icons
					.row
						.col-xs-4.col-sm-12.col-md-4.category
							= link_to(city_project_path(city,@project), class: 'cat-icon') do
								#{image_tag "cat_icons/#{@project.category.name}.svg"}
								%p.visible-sm
									#{@project.category.name}
						.col-xs-4.col-sm-12.col-md-4.target
							.cat-icon
								#{image_tag "cat_icons/target.svg"}
								%p.visible-sm
									Adultos, Niños
						.col-xs-4.col-sm-12.col-md-4.health
							.cat-icon
								#{image_tag "cat_icons/health.svg"}
								%h1
									60%
								%p.visible-sm
									Status
					.row.hidden-sm
						.col-xs-4.col-sm-12.col-md-4.category
							%p #{@project.category.name}
						.col-xs-4.col-sm-12.col-md-4.target
							%p
								Adultos, Niños
						.col-xs-4.col-sm-12.col-md-4.health
							%p
								Status
			.col-xs-12.col-sm-9.col-md-12.extend
				.box
					%h3
						Areas en la que aplica
					%ul
						%li
							%p
								Infraestructura y servicios para la accesibilidad, la comunicación y el crecimiento de la ciudad.
				.box
					%h3
						Problemas que soluciona
					%p
						#{@project.solved_problems}
				.box
					%h3
						Beneficios
					%p
						#{@project.benefit}
				.box
					%h3
						Link al proyecto
					= link_to('www.link.com', 'www.link.com', target: '_blank')



/javascript functions

:javascript
	$(function() {
		$('.featured .slider').bxSlider({
			auto: true,
			pause: 5000,
			useCSS:true,
			easing: 'cubic-bezier(.74,.14,.44,.71)',
				nextText: '→',
				prevText: '←'
		});
	});