.row.categories
	.col-xs-2.col-sm-2.col-md-2
		= link_to transport_city_posts_path, class: 'cat transport' do
			.col-xs-12.col-sm-6.col-md-3.icon
				= image_tag('cat_icons/transport.svg')
			.col-sm-6.col-md-9.text.visible-lg
				%p
					Transporte
					%br
					y movilidad
	.col-xs-2.col-sm-2.col-md-2
		= link_to development_city_posts_path, class: 'cat development' do
			.col-xs-12.col-sm-6.col-md-3.icon
				= image_tag('cat_icons/development.svg')
			.col-sm-6.col-md-9.text.visible-lg
				%p
					Desarrollo
					%br
					urbano
	.col-xs-2.col-sm-2.col-md-2
		= link_to environment_city_posts_path, class: 'cat environment' do
			.col-xs-12.col-sm-6.col-md-3.icon
				= image_tag('cat_icons/environment.svg')
			.col-sm-6.col-md-9.text.visible-lg
				%p
					Medio ambiente
					%br
					y recursos nat.
	.col-xs-2.col-sm-2.col-md-2
		= link_to people_city_posts_path, class: 'cat people' do
			.col-xs-12.col-sm-6.col-md-3.icon
				= image_tag('cat_icons/people.svg')
			.col-sm-6.col-md-9.text.visible-lg
				%p
					Desarrollo de
					%br
					las personas
	.col-xs-2.col-sm-2.col-md-2
		= link_to community_city_posts_path, class: 'cat community' do
			.col-xs-12.col-sm-6.col-md-3.icon
				= image_tag('cat_icons/community.svg')
			.col-sm-6.col-md-9.text.visible-lg
				%p
					Comunidad
	.col-xs-2.col-sm-2.col-md-2
		= link_to innovation_city_posts_path, class: 'cat innovation' do
			.col-xs-12.col-sm-6.col-md-3.icon
				= image_tag('cat_icons/innovation.svg')
			.col-sm-6.col-md-9.text.visible-lg
				%p
					Innovacion
					%br
					y desarrollo

.row.featured.cyan
	.col-md-6.featured-slide
		.row
			%ul.slider
				- @posts.each do |post|
					%li
						.row.slide
							.col-sm-12.col-md-12
								- if post.images.empty?
									.row.photo{:style => "background-image: url(image-not-available.jpg)"}
								- else
									- post.images.each do |image|
										- if image.cover == true
											.row.photo{:style => "background-image: url(#{image.file.url(:large)})"}
	.col-md-6.featured-titles							
		.row
			%ul.slider
				- @posts.each do |post|
					%li.slide
						.info
							.row
								%p.date
									#{post.created_at.to_date.to_formatted_s(:long)}
							.row
								= link_to(truncate(post.title, :length => 70), city_post_path(city,post))
								%p
									#{simple_format truncate(post.description, :length => 420)}
							.row.bottom
								.col-xs-6.col-sm-4.col-md-4
									= link_to(city_post_path(city,post), class: 'cat-icon') do
										#{image_tag "cat_icons/#{post.category.name}.svg"}
										#{post.category.name}
								.col-sm-4.col-md-4.hidden-xs.actions-box
									.actions
										.action
											%a.icon.icon-map-streamline-user
										.action
											%a.icon.icon-like-love-streamline
										.action
											%a.icon.icon-envellope-mail-streamline
								.col-xs-6.col-sm-4.col-md-4
									%p.user
										%i.icon.icon-man-people-streamline-user
										= link_to(post.user.name, '#')

/ posts list

.row
	.col-md-12.posts-list
		.row.title
			.col-md-12
				%h1
					Publicaciones en
					%span
						Buenos Aires.
		.row
			- @posts.each do |post|
				.col-xs-12.col-sm-6.col-md-3.item
					- if post.images.empty?
						.row.photo{:style => "background-image: url(image-not-available.jpg)"}
					- else
						- post.images.each do |image|
							- if image.cover == true
								.row.photo{:style => "background-image: url(#{image.file.url(:small)})"}
					.row.info
						.row
							.col-xs-6.col-md-6
								%p.date
									#{post.created_at.to_date.to_formatted_s(:long)}
							.col-xs-6.col-md-6
								= link_to(city_post_path(city,post), class: 'cat-icon') do
									#{image_tag "cat_icons/#{post.category.name}.svg"}
									#{post.category.name}
						.row.header
							= link_to(truncate(post.title, :length => 70), city_post_path(city,post))
						.row.bottom	
							.col-xs-6.col-md-6
								.actions-box
									.actions
										.action
											%a.icon.icon-map-streamline-user
										.action
											%a.icon.icon-like-love-streamline
										.action
											%a.icon.icon-envellope-mail-streamline
							.col-xs-6.col-md-6
								%p.user
									%i.icon.icon-man-people-streamline-user
									= link_to(post.user.name, '#')

/javascript functions

:javascript
	$(function() {
		var slider = $('.featured-titles .slider').bxSlider({
			auto: false,
			pause: 5000,
			useCSS:true,
			easing: 'cubic-bezier(.74,.14,.44,.71)',
			pager:false,
			controls:false
		});
		$('.featured-slide .slider').bxSlider({
			auto: false,
			pause: 5000,
			useCSS:true,
			easing: 'cubic-bezier(.74,.14,.44,.71)',
				nextText: '→',
				prevText: '←',
			onSlidePrev: function(){
				slider.goToPrevSlide();
			},
			onSlideNext: function(){
				slider.goToNextSlide();
			}
		});
	});