/post slider

.post
	.row
		.col-md-7.featured-slide
			.row
				%ul.slider
					- @post.images.each do |image|
						%li
							.row.slide
								.col-sm-12.col-md-12
									.row.photo
										- if @post.images.empty?
											= image_tag('image-not-available.jpg')
										- else
											= image_tag(image.file.url(:large))
		.col-md-5
			.row.info
				.col-md-7.category
					#{image_tag "cat_icons/#{@post.category.id}.svg"}
				.col-md-5.target
					%p
						Adultos, Niños
			.row.subcategories
				%p
					%span
						%i.fa.fa-chevron-right
					Infraestructura y servicios para la accesibilidad, la comunicación y el crecimiento de la ciudad.
	.row.grey
		.col-md-7.detail
			%h1
				#{@post.title}
			%p
				#{simple_format @post.description}
			.row.actions
				.col-xs-6.col-md-6
					.action
						%a.icon.icon-map-streamline-user
					.action
						%a.icon.icon-like-love-streamline
					.action
						%a.icon.icon-envellope-mail-streamline
					%p.date
						#{@post.created_at.to_date.to_formatted_s(:long)}
				.col-md-6
					%p.user
						by: #{@post.user.name}

		.col-md-5.extend
			.box
				%h3
					Problemas que soluciona
				%p
					#{@post.solved_problems}
			.box
				%h3
					Beneficios
				%p
					#{@post.benefit}
			.box
				%h3
					Link al proyecto
				= link_to('www.link.com', 'www.link.com', target: '_blank')



/javascript functions

:javascript
	$(function() {
		$('.featured-slide .slider').bxSlider({
			auto: true,
			pause: 5000,
			useCSS:true,
			easing: 'cubic-bezier(.74,.14,.44,.71)',
				nextText: '→',
				prevText: '←'
		});
	});