/post slider
%section#categories
	.container
		- @categories.each do |category|
			.cat-item
				= link_to(category_path(category), class: 'cat cat' + category.id.to_s) do
					.col-xs-12.col-sm-6.col-md-3.icon
						= image_tag('cat_icons/cat' + category.id.to_s + '.svg')
					.col-sm-6.col-md-9.text.visible-lg
						%p
							#{category.name}

%section
	.container
		.row.text-center
			%h2.section-heading
				#{@post.title}
			%p.date
				= t('post.by')
				#{@post.user.name}
		.row.spaced	
			.col-md-7
				.item-wrap
					.swiper-container
						.swiper-wrapper
							- @post.images.each do |image|
								.swiper-slide{:style => "background-image: url(#{image.file.url(:high)})"}
						.swiper-pagination
						.swiper-button-next
						.swiper-button-prev
			.col-md-5
				.section-box.no-gutter.section-box-padding
					.status
						.col-md-12
							.row
								%h2.section-subtitle
									%span
										= t('post.published') + ':'
									#{@post.created_at.to_date.to_formatted_s(:long)}
							.row
								%h2.section-subtitle
									%span
										= t('post.city') + ':'
									#{@post.city.name}
							.row
								%h2.section-subtitle
									%span
										= t('post.front') + ':'
									= link_to('#', :class => "item-cat icon icon-#{@post.category.id} cat#{@post.category.id}")  do
										#{@post.category.name}
							.row
								%h2.section-subtitle
									%span
										= t('post.category') + ':'
									= image_tag('cat_icons/' + @post.project_type.name + '.svg', height: '30')
									#{@post.project_type.name}
									

%section.bg-light-gray
	.container
		.row
			.col-md-7
				%h2.section-title
					#{@post.subtitle}
				%p.section-body
					#{@post.description}
				%h2.section-title
					= t('post.problems')
				%p.section-body
					#{@post.solved_problems}
				%h2.section-title
					= t('post.benefits')
				%p.section-body
					#{@post.benefit}
			.col-md-5.bg-mid-gray.item-wrap
				.col-md-12.section-box-padding
					%h2.section-subtitle
						= t('post.areas')

					%ul
						- @post.subcategories.each do |subcategory|
							%li
								%p
									#{subcategory.title}
				

%section.bg-white#bottom-nav
	.container
		.row
			.col-xs-12.col-sm-3.col-md-3.hidden-xs
				= link_to('← ' + t('post.prev'),@previous, class: 'post-nav')
			.col-xs-12.col-sm-6.col-md-6
				.item-actions
					.col-xs-3.col-sm-3.col-md-3.action
						%a.icon.icon-map-streamline-user{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Aplica a mi ciudad"}
					.col-xs-3.col-sm-3.col-md-3.action
						%a.icon.icon-like-love-streamline{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Me gusta"}
					.col-xs-3.col-sm-3.col-md-3.action
						%a.icon.icon-envellope-mail-streamline{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Compartir"}
					.col-xs-3.col-sm-3.col-md-3.action
						%a.icon-man-people-streamline-user{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Aplica a mi ciudad"}
			.col-xs-12.col-sm-3.col-md-3.hidden-xs
				= link_to(t('post.prev') + ' →',@next, class: 'post-nav pull-right')


/javascript functions

:javascript
	$(function(){
		$('[data-toggle="tooltip"]').tooltip()
		var swiper = new Swiper('.swiper-container', {
			pagination: '.swiper-pagination',
			paginationClickable: true,
			nextButton: '.swiper-button-next',
			prevButton: '.swiper-button-prev',
			loop: true
		});
	});