/post slider
= render 'shared/categories'
%section.bg-light-gray
	.container
		.row.text-center
			%h2.section-heading
				#{@post.title}
			%p.section-body.date
				= t('post.by')
		.row.spaced	
			.col-md-7
				.item-wrap
					.swiper-container
						.swiper-wrapper
							- @post.images.each do |image|
								.swiper-slide{:style => "background-image: url(#{image.file.url(:high)})"}
						.swiper-pagination
						.swiper-button-next
						.swiper-button-prev
			.col-md-5
				.section-box.no-gutter.section-box-padding
					.status
						.col-md-12
							.row
								%h2.section-subtitle
									%span
										= t('post.published') + ':'
									#{@post.created_at.to_date.to_formatted_s(:long)}
							.row
								%h2.section-subtitle
									%span
										= t('post.city') + ':'
									#{@post.city.name}
							.row
								%h2.section-subtitle
									%span
										= t('post.front') + ':'
									#{image_tag "cat_icons/#{@post.project_type.name}.svg"}
									#{@post.project_type.name}
							.row
								%h2.section-subtitle
									%span
										= t('post.category') + ':'
									#{image_tag "cat_icons/#{@post.project_type.name}.svg"}
									#{@post.project_type.name}
							.row
								%h2.section-subtitle
									%span
										= t('post.target') + ':'
									.item-wrap

%section
	.container
		.row
			.col-md-7
				%h2.section-subtitle
					#{@post.subtitle}
				%p.section-body
					#{@post.description}
				%h2.section-title
					= t('post.problems')
				%p.section-body
					#{@post.solved_problems}
				%h2.section-title
					= t('post.benefits')
				%p.section-body
					#{@post.benefit}
			.col-md-5.bg-light-gray.item-wrap
				.col-md-12.section-box-padding
					%h2.section-subtitle
						= t('post.areas')

					%ul
						- @post.subcategories.each do |subcategory|
							%li
								%p
									#{subcategory.title}

					%h2.section-subtitle
						= t('post.links')

					%p.section-body
						#{@post.link}
				

%section.bg-white.collapsed#bottom-nav
	.container
		.row
			.col-xs-12.col-sm-3.col-md-3.hidden-xs
				= link_to('← ' + t('post.prev'),@previous, class: 'post-nav')
			.col-xs-12.col-sm-6.col-md-6
				.item-actions
					.col-xs-3.col-sm-3.col-md-3.action
						%a.icon.icon-map-streamline-user
					.col-xs-3.col-sm-3.col-md-3.action
						%a.icon.icon-like-love-streamline
					.col-xs-3.col-sm-3.col-md-3.action
						%a.icon.icon-envellope-mail-streamline
					.col-xs-3.col-sm-3.col-md-3.action
						%a.icon-man-people-streamline-user
			.col-xs-12.col-sm-3.col-md-3.hidden-xs
				= link_to(t('post.next') + ' →',@next, class: 'post-nav pull-right')


/javascript functions

:javascript
	$(function(){
			var swiper = new Swiper('.swiper-container', {
				pagination: '.swiper-pagination',
				paginationClickable: true,
				nextButton: '.swiper-button-next',
				prevButton: '.swiper-button-prev',
				loop: true
			});
	});