/ Splash Screen

%header.swiper1
	.swiper-container
		.swiper-wrapper
			- city.images.each do |image|
				.swiper-slide{:style => "background-image: url(#{image.file.url(:high)})"}
					.intro-text
						.container
							.intro-heading
								#{city.title}
							.intro-lead-in
								#{city.subtitle}
							
							= link_to('Be Smart', '#', class: 'btn btn-xl')
		.swiper-pagination
		.swiper-button-next
		.swiper-button-prev

%section#categories
	.container
		.cat-item
			- if @transport
				= link_to city_path(city), class: 'cat cat1 selected' do
					.col-xs-12.col-sm-6.col-md-3.icon
						= image_tag('cat_icons/cat1_on.svg')
					.col-sm-6.col-md-9.text.visible-lg
						%p
							= t('fronts.transport')
			- else
				= link_to transport_city_path(city), class: 'cat cat1' do
					.col-xs-12.col-sm-6.col-md-3.icon
						= image_tag('cat_icons/cat1.svg')
					.col-sm-6.col-md-9.text.visible-lg
						%p
							= t('fronts.transport')
		.cat-item
			- if @development
				= link_to root_path, class: 'cat cat2 selected' do
					.col-xs-12.col-sm-6.col-md-3.icon
						= image_tag('cat_icons/cat2_on.svg')
					.col-sm-6.col-md-9.text.visible-lg
						%p
							= t('fronts.development')
			- else
				= link_to development_city_path(city), class: 'cat cat2' do
					.col-xs-12.col-sm-6.col-md-3.icon
						= image_tag('cat_icons/cat2.svg')
					.col-sm-6.col-md-9.text.visible-lg
						%p
							= t('fronts.development')
		.cat-item
			- if @environment
				= link_to root_path, class: 'cat cat3 selected' do
					.col-xs-12.col-sm-6.col-md-3.icon
						= image_tag('cat_icons/cat3_on.svg')
					.col-sm-6.col-md-9.text.visible-lg
						%p
							= t('fronts.environment')
			- else
				= link_to environment_city_path(city), class: 'cat cat3' do
					.col-xs-12.col-sm-6.col-md-3.icon
						= image_tag('cat_icons/cat3.svg')
					.col-sm-6.col-md-9.text.visible-lg
						%p
							= t('fronts.environment')
		.cat-item
			- if @community
				= link_to root_path, class: 'cat cat5 selected' do
					.col-xs-12.col-sm-6.col-md-3.icon
						= image_tag('cat_icons/cat5_on.svg')
					.col-sm-6.col-md-9.text.visible-lg
						%p
							= t('fronts.community')
			- else
				= link_to community_city_path(city), class: 'cat cat5' do
					.col-xs-12.col-sm-6.col-md-3.icon
						= image_tag('cat_icons/cat5.svg')
					.col-sm-6.col-md-9.text.visible-lg
						%p
							= t('fronts.community')
		.cat-item
			- if @innovation
				= link_to root_path, class: 'cat cat6 selected' do
					.col-xs-12.col-sm-6.col-md-3.icon
						= image_tag('cat_icons/cat6_on.svg')
					.col-sm-6.col-md-9.text.visible-lg
						%p
							= t('fronts.innovation')
			- else
				= link_to innovation_city_path(city), class: 'cat cat6' do
					.col-xs-12.col-sm-6.col-md-3.icon
						= image_tag('cat_icons/cat6.svg')
					.col-sm-6.col-md-9.text.visible-lg
						%p
							= t('fronts.innovation')

%section#projects.text-center.bg-light-gray.grid.swiper-carousel
	= render 'shared/featured_projects'

%section.text-center.grid
	= render 'shared/projects'

%section#posts.text-center.grid.swiper-carousel.bg-light-gray
	= render 'shared/featured_posts'

%section.text-center.grid
	= render 'shared/posts'


:javascript
	$(function(){
		var swiper = new Swiper('.swiper1 .swiper-container', {
			pagination: '.swiper1 .swiper-pagination',
			paginationClickable: true,
			nextButton: '.swiper1 .swiper-button-next',
			prevButton: '.swiper1 .swiper-button-prev',
			loop: true
		});
		var swiper = new Swiper('#projects .swiper-container', {
			pagination: '#projects .swiper-pagination',
			slidesPerView: 3,
			paginationClickable: true,
			nextButton: '#projects-arrows .swiper-button-next',
			prevButton: '#projects-arrows .swiper-button-prev',
			spaceBetween: 35,
			breakpoints: {
				1200: {
					slidesPerView: 3,
					spaceBetween: 45
				},
				768: {
					slidesPerView: 3,
					spaceBetween: 15
				},
				460: {
					slidesPerView: 1,
					spaceBetween: 15
				}
			}
		});
		var swiper = new Swiper('#posts .swiper-container', {
			pagination: '#posts .swiper-pagination',
			slidesPerView: 3,
			paginationClickable: true,
			nextButton: '#posts .swiper-button-next',
			prevButton: '#posts .swiper-button-prev',
			spaceBetween: 30,
			breakpoints: {
				1200: {
					slidesPerView: 3,
					spaceBetween: 30
				},
				768: {
					slidesPerView: 2,
					spaceBetween: 15
				},
				460: {
					slidesPerView: 1,
					spaceBetween: 15
				}
			}
		});
	});
