/ Splash Screen

- city.images.each do |image|
	.splash{:style => "background-image: url(#{image.file.url(:high)})"}
		.center
			%h1
				#{city.title}
			%p
				#{city.subtitle}
			%button.btn.btn-default
				Be Smart!
		.row.start
			.col-xs-12.col-sm-6.col-md-6.search.hidden-xs
				.title
					%h1
						%i.icon.icon-search
						Busca publicaciones, proyectos o ciudades.
				
			.col-xs-12.col-sm-6.col-md-6.location
				.title
					= link_to(cities_path) do
						%i.icon.icon-earth-globe-streamline
						Estas en 
						%span
							#{city.name}, #{city.country}
						%span.caret

.row.city-resume
	.col-sm-3.col-md-3.box
		.row
			%h2
				Indice Smart City
		.row
			%h1
				#{city.ranking} /
				%span
					#{@cities.size} ciudades.
		
	.col-sm-5.col-md-6.box
		.row
			%h2 
				Poblacion
				%span
					#{city.population} hab.
		.row.population
			.col-md-6
				.row
					.col-md-12
						.col-xs-7.col-sm-7.col-md-7
							.row.men
								= image_tag('men.png')
								.percent
						.col-xs-5.col-sm-5.col-md-5
							%h3
								#{city.man}
							%p
								hombres
			.col-md-6
				.row
					.col-md-12
						.col-xs-7.col-sm-7.col-md-7
							.row.women
								= image_tag('women.png')
								.percent
						.col-xs-5.col-sm-5.col-md-5
							%h3
								#{city.woman}
							%p
								mujeres
	.col-sm-4.col-md-3.box
		.row
			.col-xs-4.col-md-4.chart
				.circle{"data-bgcolor" => "#eee", "data-dimension" => "100", "data-fgcolor" => "#61a9dc", "data-fill" => "#ddd", "data-fontsize" => "18", "data-info" => "participacion", "data-percent" => "35", "data-text" => "35%", "data-width" => "7"}
			.col-xs-4.col-md-4.chart
				.circle{"data-bgcolor" => "#eee", "data-dimension" => "100", "data-fgcolor" => "#61a9dc", "data-fill" => "#ddd", "data-fontsize" => "18", "data-info" => "smart develop", "data-percent" => "15", "data-text" => "15%", "data-width" => "7"}
			.col-xs-4.col-md-4.chart
				.circle{"data-bgcolor" => "#eee", "data-dimension" => "100", "data-fgcolor" => "#61a9dc", "data-fill" => "#ddd", "data-fontsize" => "18", "data-info" => "visitantes", "data-percent" => "15", "data-text" => "15%", "data-width" => "7"}

.row.featured
	.col-md-6.featured-titles							
		.row
			%ul.slider
				- @projects.each do |project|
					%li.slide
						.info
							.row
								%p.date
									#{project.created_at.to_date.to_formatted_s(:long)}
							.row
								= link_to(truncate(project.title, :length => 70), city_project_path(city,project))
								%p
									#{simple_format truncate(project.description, :length => 420)}
							.row.bottom
								.col-xs-6.col-sm-4.col-md-4
									= link_to(city_project_path(city,project), class: 'cat-icon') do
										#{image_tag "cat_icons/#{project.category.name}.svg"}
										#{project.category.name}
								.col-xs-4.col-sm-4.col-md-4.hidden-xs
									.actions-box
										.actions
											.action
												%a.icon.icon-map-streamline-user
											.action
												%a.icon.icon-like-love-streamline
											.action
												%a.icon.icon-envellope-mail-streamline
								.col-xs-6.col-sm-4.col-md-4
									%p.user
										%i.icon.icon-man-people-streamline-user
										= link_to(project.user.name, '#')
											
	.col-md-6.featured-slide
		.row
			%ul.slider
				- @projects.each do |project|
					%li
						.row.slide
							.col-sm-12.col-md-12
								- if project.images.empty?
									.row.photo{:style => "background-image: url(image-not-available.jpg)"}
								- else
									- project.images.each do |image|
										- if image.cover == true
											.row.photo{:style => "background-image: url(#{image.file.url(:large)})"}

/ Posts & Projects

.row
	.col-xs-12.col-sm-12.col-md-6.projects-list
		.row.title
			.col-sm-10.col-md-10
				%h1
					Proyectos en
					%span
						Buenos Aires.
			.col-sm-1.col-md-1.hidden-xs	
				#prev-projects
			.col-sm-1.col-md-1.hidden-xs	
				#next-projects
		.row.sliderbox
			%ul.slider
				- @projects.in_groups_of(2, false).each do |slide|
					%li.slide
						- slide.each do |project|
							.col-md-12.item
								.row
									.col-sm-6.col-md-6.info
										.row
											.col-xs-6.col-md-6
												%p.date
													#{project.created_at.to_date.to_formatted_s(:long)}
											.col-xs-6.col-md-6
												= link_to(city_project_path(city,project), class: 'cat-icon') do
													#{image_tag "cat_icons/#{project.category.name}.svg"}
													#{project.category.name}
										.row.header
											= link_to(truncate(project.title, :length => 70), city_project_path(city,project))
										.row.bottom	
											.col-xs-6.col-md-6
												.actions
													.action
														%a.icon.icon-map-streamline-user
													.action
														%a.icon.icon-like-love-streamline
													.action
														%a.icon.icon-envellope-mail-streamline
											.col-xs-6.col-md-6
												%p.user
													%i.icon.icon-man-people-streamline-user
													= link_to(project.user.name, '#')
									.col-sm-6.col-md-6
										- if project.images.empty?
											.row.photo{:style => "background-image: url(image-not-available.jpg)"}
										- else
											- project.images.each do |image|
												- if image.cover == true
													.row.photo{:style => "background-image: url(#{image.file.url(:large)})"}
	.col-xs-12.col-sm-12.col-md-6.posts-list
		.row.title
			.col-sm-10.col-md-10
				%h1
					Novedades en
					%span
						Buenos Aires.
			.col-sm-1.col-md-1.hidden-xs	
				#prev-news
			.col-sm-1.col-md-1.hidden-xs	
				#next-news
		.row.sliderbox
			%ul.slider
				- @posts.in_groups_of(2, false).each do |slide|
					%li.slide
						- slide.each do |post|
							.col-sm-6.col-md-6.item
								- if post.images.empty?
									.row.photo{:style => "background-image: url(image-not-available.jpg)"}
								- else
									- post.images.each do |image|
										- if image.cover == true
											.row.photo{:style => "background-image: url(#{image.file.url(:small)})"}
								.row.info
									.row
										.col-xs-6.col-md-6
											%p.date
												#{post.created_at.to_date.to_formatted_s(:long)}
										.col-xs-6.col-md-6
											= link_to(city_post_path(city,post), class: 'cat-icon') do
												#{image_tag "cat_icons/#{post.category.name}.svg"}
												#{post.category.name}
									.row.header
										= link_to(truncate(post.title, :length => 70), city_post_path(city,post))
									.row.bottom	
										.col-xs-6.col-md-6
											.actions
												.action
													%a.icon.icon-map-streamline-user
												.action
													%a.icon.icon-like-love-streamline
												.action
													%a.icon.icon-envellope-mail-streamline
										.col-xs-6.col-md-6
											%p.user
												%i.icon.icon-man-people-streamline-user
												= link_to(post.user.name, '#')

.row.about
	.col-md-4.box
		= image_tag('about.png')

		%h1
			Que es 
			%span
				ThinkSmart?
		%p
			Amsterdam Smart City (ASC) is the innovation platform of the Amsterdam Metropolitan Area. It challenges businesses, residents, the municipality and knowledge institutions to suggest and apply innovative ideas & solutions for urban issues.
			<br/><br/>
			Since 2009 Amsterdam Smart City has grown into a platform comprising of in excess of 100 partners, who are actively involved in more than 89 innovative projects.
	.col-md-4.box
		= image_tag('about.png')
		%h1
			Por que es
			%span
				importante?
		%p
			Amsterdam Smart City (ASC) is the innovation platform of the Amsterdam Metropolitan Area. It challenges businesses, residents, the municipality and knowledge institutions to suggest and apply innovative ideas & solutions for urban issues.
			<br/><br/>
			Since 2009 Amsterdam Smart City has grown into a platform comprising of in excess of 100 partners, who are actively involved in more than 89 innovative projects.
	.col-md-4.box
		= image_tag('about.png')
		%h1
			Como puedo
			%span
				participar?
		%p
			Amsterdam Smart City (ASC) is the innovation platform of the Amsterdam Metropolitan Area. It challenges businesses, residents, the municipality and knowledge institutions to suggest and apply innovative ideas & solutions for urban issues.
			<br/><br/>
			Since 2009 Amsterdam Smart City has grown into a platform comprising of in excess of 100 partners, who are actively involved in more than 89 innovative projects.
:javascript
	$(function() {
		windowHeight = $(window).height();
		fadeStart = 0;
		fadeUntil = windowHeight;

		$('.splash').parallax("50%", 0.1);
		$('.circle').circliful();
		var slider = $('.featured-titles .slider').bxSlider({
			auto: false,
			pause: 5000,
			useCSS:true,
			easing: 'cubic-bezier(.74,.14,.44,.71)',
			pager:false,
			controls:false
		});
		$('.featured-slide .slider').bxSlider({
			auto: false,
			pause: 5000,
			useCSS:true,
			easing: 'cubic-bezier(.74,.14,.44,.71)',
				nextText: '→',
				prevText: '←',
			onSlidePrev: function(){
				slider.goToPrevSlide();
			},
			onSlideNext: function(){
				slider.goToNextSlide();
			}
		});
		$('.posts-list .slider').bxSlider({
			useCSS:true,
			easing: 'cubic-bezier(.74,.14,.44,.71)',
			nextSelector: '#next-news',
				prevSelector: '#prev-news',
				nextText: '→',
				prevText: '←',
				pager: false

		});
		$('.projects-list .slider').bxSlider({
			useCSS:true,
			easing: 'cubic-bezier(.74,.14,.44,.71)',
			nextSelector: '#next-projects',
				prevSelector: '#prev-projects',
				nextText: '→',
				prevText: '←',
				pager: false
			});
		});
		$(window).on("scroll", function() {
			var fadeStart;
			var offset = $(document).scrollTop()
			    ,opacity=0
			;
			if( offset<=fadeStart ){
			    opacity=1;
			}else if( offset<=fadeUntil ){
			    opacity=1-offset/(fadeUntil*0.5);
			}
			$('.splash .center').css('opacity',opacity);
			if ($(this).scrollTop() > 100) {
				$('.navigation').addClass('white');
			}
			else {
				$('.navigation').removeClass('white');
			}
		});