/ Splash Screen

%header.swiper1
	.swiper-container
		.swiper-wrapper
			- city.images.each do |image|
				.swiper-slide{:style => "background-image: url(#{image.file.url(:high)})"}
					.intro-text
						.container
							.intro-heading
								#{city.title}
							.intro-lead-in
								#{city.subtitle}
							
							= link_to('Be Smart', '#', class: 'btn btn-xl')
		.swiper-pagination
		.swiper-button-next
		.swiper-button-prev

= render 'shared/categories'

%section#projects-1.text-center.grid.swiper-simple.bg-light-gray
	.row
		.container-fluid
			.col-md-12
				.row.title
					.col-md-12
						%h2.section-heading
							Proyectos en
							%span
								#{city.name}.
	.swiper-container
		.swiper-wrapper
			- @projects_home.each do |project|
				.swiper-slide
					.container
						.row
							.col-md-12.item.item-lg
								.item-wrap.bg-white
									.row
										.col-md-6
											= link_to(project_path(project), class: 'item-link') do
												- if project.images.empty?
													.item-photo{:style => "background-image: url(image-not-available.jpg)"}
												- else
													- project.images.each do |image|
														- if image.cover == true
															.item-photo.item-photo-md{:style => "background-image: url(#{image.file.url(:large)})"}
												.item-hover
													.item-hover-content
														%i.fa.fa-plus.fa-3x
										.col-md-6
											.row
												.item-caption
													
													%h4
														#{truncate(project.title, :length => 70)}
													%p
														#{project.subtitle}
													.no-gutter
														.col-md-4
															= link_to('#', :class => "item-cat icon #{project.category.name} icon-#{project.category.name}") do
																#{project.category.name}
														.col-md-4
															= link_to(city_path(project.city), class: 'item-city') do
																%span.icon.icon-earth-globe-streamline
																#{project.city.name}
														.col-md-4
															= link_to('Leer Más →', project_path(project))
		.swiper-pagination
		.swiper-button-next.swiper-button-black
		.swiper-button-prev.swiper-button-black

%section#projects-2.text-center.grid.swiper-carousel.bg-light-gray
	.container
		.swiper-container
			.swiper-wrapper
				- @projects_home.each do |project|
					.swiper-slide.item
						.item-wrap
							= link_to(project_path(project), class: 'item-link') do
								- if project.images.empty?
									.item-photo{:style => "background-image: url(image-not-available.jpg)"}
								- else
									- project.images.each do |image|
										- if image.cover == true
											.item-photo.item-photo-sm{:style => "background-image: url(#{image.file.url(:large)})"}
								.item-hover
									.item-hover-content
										%i.fa.fa-plus.fa-3x
							.item-caption.text-left
								%p.text-muted
									#{project.created_at.to_date.to_formatted_s(:long)}
								%h4
									#{truncate(project.title, :length => 70)}
									%br
									—
								= link_to('#', :class => "item-cat icon #{project.category.name} icon-#{project.category.name}") do
									#{project.category.name}
								= link_to(city_path(project.city), class: 'item-city') do
									%span.icon.icon-earth-globe-streamline
									#{project.city.name}
							.item-actions
								.col-md-3.action
									%a.icon.icon-map-streamline-user
								.col-md-3.action
									%a.icon.icon-like-love-streamline
								.col-md-3.action
									%a.icon.icon-envellope-mail-streamline
								.col-md-3.action
									%a.icon-man-people-streamline-user
			.swiper-pagination
			.swiper-button-next.swiper-button-black
			.swiper-button-prev.swiper-button-black
		= link_to('Ver todos los proyectos', projects_path, class: 'btn btn-lg btn-grey')






%section#posts-1.text-center.grid.swiper-simple
	.row
		.container-fluid
			.col-md-12
				.row.title
					.col-md-12
						%h2.section-heading
							Novedades en
							%span
								#{city.name}.
	.swiper-container
		.swiper-wrapper
			- @posts_home.each do |post|
				.swiper-slide
					.container
						.row
							.col-md-12.item.item-lg
								.item-wrap
									.row
										.col-md-6
											= link_to(post_path(post), class: 'item-link') do
												- if post.images.empty?
													.item-photo{:style => "background-image: url(image-not-available.jpg)"}
												- else
													- post.images.each do |image|
														- if image.cover == true
															.item-photo.item-photo-md{:style => "background-image: url(#{image.file.url(:large)})"}
												.item-hover
													.item-hover-content
														%i.fa.fa-plus.fa-3x
										.col-md-6
											.row
												.item-caption
													%p.text-muted
														#{post.created_at.to_date.to_formatted_s(:long)}
													%h4
														#{truncate(post.title, :length => 70)}
													%p
														#{truncate(post.description, :length => 240)}
		.swiper-pagination
		.swiper-button-next.swiper-button-black
		.swiper-button-prev.swiper-button-black

%section#posts-2.text-center.grid.swiper-carousel
	.container
		.swiper-container
			.swiper-wrapper
				- @posts_home.each do |post|
					.swiper-slide.item
						.item-wrap
							= link_to(post_path(post), class: 'item-link') do
								- if post.images.empty?
									.item-photo{:style => "background-image: url(image-not-available.jpg)"}
								- else
									- post.images.each do |image|
										- if image.cover == true
											.item-photo.item-photo-sm{:style => "background-image: url(#{image.file.url(:large)})"}
								.item-hover
									.item-hover-content
										%i.fa.fa-plus.fa-3x
							.item-caption.text-left
								%p.text-muted
									#{post.created_at.to_date.to_formatted_s(:long)}
								%h4
									#{truncate(post.title, :length => 70)}
									%br
									—
								= link_to('#', :class => "item-cat icon #{post.category.name} icon-#{post.category.name}") do
									#{post.category.name}
									= link_to(city_path(post.city), class: 'item-city') do
										%span.icon.icon-earth-globe-streamline
										#{post.city.name}
							.item-actions
								.col-md-3.action
									%a.icon.icon-map-streamline-user
								.col-md-3.action
									%a.icon.icon-like-love-streamline
								.col-md-3.action
									%a.icon.icon-envellope-mail-streamline
								.col-md-3.action
									%a.icon-man-people-streamline-user
			.swiper-pagination
			.swiper-button-next.swiper-button-black
			.swiper-button-prev.swiper-button-black
		= link_to('Ver todos las novedades', posts_path, class: 'btn btn-lg btn-grey')


:javascript
	$(function(){
		var swiper = new Swiper('.swiper1 .swiper-container', {
			pagination: '.swiper1 .swiper-pagination',
			paginationClickable: true,
			nextButton: '.swiper1 .swiper-button-next',
			prevButton: '.swiper1 .swiper-button-prev',
			loop: true
		});
		var swiper = new Swiper('#projects-1 .swiper-container', {
			pagination: '#projects-1 .swiper-pagination',
			paginationClickable: true,
			nextButton: '#projects-1 .swiper-button-next',
			prevButton: '#projects-1 .swiper-button-prev',
			loop: true
		});
		var swiper = new Swiper('#projects-2 .swiper-container', {
			pagination: '#projects-2 .swiper-pagination',
			slidesPerView: 4,
			paginationClickable: true,
			nextButton: '#projects-2 .swiper-button-next',
			prevButton: '#projects-2 .swiper-button-prev',
			spaceBetween: 30,
			breakpoints: {
				1200: {
					slidesPerView: 4,
					spaceBetween: 30
				},
				768: {
					slidesPerView: 2,
					spaceBetween: 15
				},
				460: {
					slidesPerView: 1,
					spaceBetween: 15
				}
			}
		});
		var swiper = new Swiper('#posts-1 .swiper-container', {
			pagination: '#posts-1 .swiper-pagination',
			paginationClickable: true,
			nextButton: '#posts-1 .swiper-button-next',
			prevButton: '#posts-1 .swiper-button-prev',
			loop: true
		});
		var swiper = new Swiper('#posts-2 .swiper-container', {
			pagination: '#posts-2 .swiper-pagination',
			slidesPerView: 3,
			paginationClickable: true,
			nextButton: '#posts-2 .swiper-button-next',
			prevButton: '#posts-2 .swiper-button-prev',
			spaceBetween: 30,
			breakpoints: {
				1200: {
					slidesPerView: 3,
					spaceBetween: 30
				},
				768: {
					slidesPerView: 2,
					spaceBetween: 15
				},
				460: {
					slidesPerView: 1,
					spaceBetween: 15
				}
			}
		});
	});
