/ Splash Screen

%header.swiper1
	.swiper-container
		.swiper-wrapper
			- city.images.each do |image|
				.swiper-slide{:style => "background-image: url(#{image.file.url(:high)})"}
					.intro-text
						.container
							.intro-heading
								#{city.title}
							.intro-lead-in
								#{city.subtitle}
							
							= link_to('Be Smart', '#', class: 'btn btn-xl')
		.swiper-pagination
		.swiper-button-next
		.swiper-button-prev

= render 'shared/categories'

%section#projects.text-center.bg-light-gray.grid.swiper-carousel
	= render 'shared/featured_projects'

%section.text-center.grid
	= render 'shared/projects'

%section#posts.text-center.grid.swiper-carousel.bg-light-gray
	= render 'shared/featured_posts'

%section.text-center.grid
	= render 'shared/posts'


:javascript
	$(function(){
		var swiper = new Swiper('.swiper1 .swiper-container', {
			pagination: '.swiper1 .swiper-pagination',
			paginationClickable: true,
			nextButton: '.swiper1 .swiper-button-next',
			prevButton: '.swiper1 .swiper-button-prev',
			loop: true
		});
		var swiper = new Swiper('#projects .swiper-container', {
			pagination: '#projects .swiper-pagination',
			slidesPerView: 3,
			paginationClickable: true,
			nextButton: '#projects-arrows .swiper-button-next',
			prevButton: '#projects-arrows .swiper-button-prev',
			spaceBetween: 35,
			breakpoints: {
				1200: {
					slidesPerView: 3,
					spaceBetween: 45
				},
				768: {
					slidesPerView: 3,
					spaceBetween: 15
				},
				460: {
					slidesPerView: 1,
					spaceBetween: 15
				}
			}
		});
		var swiper = new Swiper('#posts .swiper-container', {
			pagination: '#posts .swiper-pagination',
			slidesPerView: 3,
			paginationClickable: true,
			nextButton: '#posts .swiper-button-next',
			prevButton: '#posts .swiper-button-prev',
			spaceBetween: 30,
			breakpoints: {
				1200: {
					slidesPerView: 3,
					spaceBetween: 30
				},
				768: {
					slidesPerView: 2,
					spaceBetween: 15
				},
				460: {
					slidesPerView: 1,
					spaceBetween: 15
				}
			}
		});
	});
