/ Splash Screen

%header
	.container
		.row.text-left
			%h1
				#{@category.name}
			%h2
				#{@category.description}

%section#categories
	.container
		- @categories.each do |category|
			.cat-item
				= link_to(category_path(category), class: 'cat cat' + category.id.to_s) do
					.col-xs-12.col-sm-6.col-md-3.icon
						= image_tag('cat_icons/cat' + category.id.to_s + '.svg')
					.col-sm-6.col-md-9.text.visible-lg
						%p
							#{category.name}

%section#projects.text-center.bg-light-gray.grid.swiper-carousel
	= render 'shared/featured_projects'

%section#projects.text-center.bg-light-gray.grid.swiper-carousel
	= render 'shared/projects'
	
%section#posts.text-center.grid.swiper-carousel.bg-light-gray			
	= render 'shared/featured_posts'

%section#posts.text-center.grid.swiper-carousel.bg-light-gray			
	= render 'shared/posts'

:javascript
	$(function(){
		var swiper = new Swiper('header .swiper-container', {
			pagination: 'header .swiper-pagination',
			paginationClickable: true,
			nextButton: 'header .swiper-button-next',
			prevButton: 'header .swiper-button-prev',
			loop: true
		});
		var swiper = new Swiper('#cities .swiper-container', {
			pagination: '#cities .swiper-pagination',
			slidesPerView: 3,
			paginationClickable: true,
			nextButton: '#cities-arrows .swiper-button-next',
			prevButton: '#cities-arrows .swiper-button-prev',
			spaceBetween: 30,
			breakpoints: {
				1200: {
					slidesPerView: 3,
					spaceBetween: 30
				},
				768: {
					slidesPerView: 2,
					spaceBetween: 15
				},
				460: {
					slidesPerView: 1,
					spaceBetween: 15
				}
			}
		});
		var swiper = new Swiper('#projects .swiper-container', {
			pagination: '#projects .swiper-pagination',
			slidesPerView: 3,
			paginationClickable: true,
			nextButton: '#projects-arrows .swiper-button-next',
			prevButton: '#projects-arrows .swiper-button-prev',
			spaceBetween: 35,
			breakpoints: {
				1200: {
					slidesPerView: 3,
					spaceBetween: 45
				},
				768: {
					slidesPerView: 3,
					spaceBetween: 15
				},
				460: {
					slidesPerView: 1,
					spaceBetween: 15
				}
			}
		});
		var swiper = new Swiper('#posts .swiper-container', {
			pagination: '#posts .swiper-pagination',
			slidesPerView: 3,
			paginationClickable: true,
			nextButton: '#posts-arrows .swiper-button-next',
			prevButton: '#posts-arrows .swiper-button-prev',
			spaceBetween: 30,
			breakpoints: {
				1200: {
					slidesPerView: 3,
					spaceBetween: 30
				},
				768: {
					slidesPerView: 3,
					spaceBetween: 15
				},
				460: {
					slidesPerView: 1,
					spaceBetween: 15
				}
			}
		});
	});