!!!
%html
	%head
		%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
			%title
				ThinkSmart
			= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
			= javascript_include_tag 'application', 'data-turbolinks-track' => true
			= csrf_meta_tags
			= yield(:head)

	%body{:class => "#{controller_name} #{action_name}"}
		.wrapper
			%nav.row.navigation
				.col-xs-6.col-sm-4.col-md-4
					= link_to(root_path) do
						.logo
				- unless @hide_city_menu
					- if @cat_menu_alt
						.col-md-4.visible-lg
							.row.categories
								.col-xs-2.col-sm-2.col-md-2
									= link_to city_path(:category_id => 1), class: 'cat transport' do
										.col-xs-12.col-sm-6.col-md-12.icon
											= image_tag('cat_icons/transport.svg')
										
								.col-xs-2.col-sm-2.col-md-2
									= link_to city_path(:category_id => 2), class: 'cat development' do
										.col-xs-12.col-sm-6.col-md-12.icon
											= image_tag('cat_icons/development.svg')
										
								.col-xs-2.col-sm-2.col-md-2
									= link_to city_path(:category_id => 3), class: 'cat environment' do
										.col-xs-12.col-sm-6.col-md-12.icon
											= image_tag('cat_icons/environment.svg')
										
								.col-xs-2.col-sm-2.col-md-2
									= link_to city_path(:category_id => 4), class: 'cat people' do
										.col-xs-12.col-sm-6.col-md-12.icon
											= image_tag('cat_icons/people.svg')
										
								.col-xs-2.col-sm-2.col-md-2
									= link_to city_path(:category_id => 5), class: 'cat community' do
										.col-xs-12.col-sm-6.col-md-12.icon
											= image_tag('cat_icons/community.svg')
										
								.col-xs-2.col-sm-2.col-md-2
									= link_to city_path(:category_id => 6), class: 'cat innovation' do
										.col-xs-12.col-sm-6.col-md-12.icon
											= image_tag('cat_icons/innovation.svg')
					- else
						.col-md-4.visible-lg
							.row.categories
								.col-xs-2.col-sm-2.col-md-2
									= link_to transport_city_projects_path, class: 'cat transport' do
										.col-xs-12.col-sm-6.col-md-12.icon
											= image_tag('cat_icons/transport.svg')
										
								.col-xs-2.col-sm-2.col-md-2
									= link_to development_city_projects_path, class: 'cat development' do
										.col-xs-12.col-sm-6.col-md-12.icon
											= image_tag('cat_icons/development.svg')
										
								.col-xs-2.col-sm-2.col-md-2
									= link_to environment_city_projects_path, class: 'cat environment' do
										.col-xs-12.col-sm-6.col-md-12.icon
											= image_tag('cat_icons/environment.svg')
										
								.col-xs-2.col-sm-2.col-md-2
									= link_to people_city_projects_path, class: 'cat people' do
										.col-xs-12.col-sm-6.col-md-12.icon
											= image_tag('cat_icons/people.svg')
										
								.col-xs-2.col-sm-2.col-md-2
									= link_to community_city_projects_path, class: 'cat community' do
										.col-xs-12.col-sm-6.col-md-12.icon
											= image_tag('cat_icons/community.svg')
										
								.col-xs-2.col-sm-2.col-md-2
									= link_to innovation_city_projects_path, class: 'cat innovation' do
										.col-xs-12.col-sm-6.col-md-12.icon
											= image_tag('cat_icons/innovation.svg')
								
				.col-xs-6.col-sm-8.col-md-4.pull-right
					.menu
						- unless @hide_city_menu
							= link_to(cities_path) do
								%span.icon.icon-earth-globe-streamline
								%span.hidden-xs
									#{city.name}, #{city.country}
						%a.toggle-nav(href="#")
							%span.icon-menu
							%span.hidden-xs
								Menu
			.site-menu
				%a.toggle-nav(href="#")
					X
				= link_to('Home', root_path)
				= link_to('Ciudades', cities_path)
				- unless @hide_city_menu
					= link_to('Publicaciones', city_posts_path(city))
					= link_to('Proyectos', city_projects_path(city))
				%a
					About
				%a.mini
					Contacto
				%a.mini
					Preguntas Frecuentes
				%a.mini
					Terminos y Condiciones
			.site-canvas
				= yield
				.row.footer
					.row
						%h1
							Building better cities together
					.row
						%p
							Todavia no estas registrado?
							%button.btn.btn-default
								Registrate Ahora
							en ThinkSmart
