<!DOCTYPE html>
<html>
<head>
  <title>Thinksmart</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %>">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<nav class="navigation">
	<div class="logo"></div>
	<div class="menu">
		<a href="#">BUE</a>
		<button class="btn btn-default" href="#">Registrate!</button>
		<a href="#">Sign In</a>
		<a href="#">Menu</a>
	</div>
</nav>
<%= yield %>
<div class="row footer">
	<div class="row">
		<h1>Building better cities together.</h1>
	</div>
	<div class="row">
		<a href="#">Home</a>
		<a href="#">About</a>
		<a href="#">Noticias</a>
		<a href="#">Projectos</a>
		<a href="#">Contacto</a>
	</div>
	<div class="row">
		<p>Todavia no estas registrado? <button class="btn btn-default">Registrate Ahora</button> en ThinkSmart</p>
	</div>
</div>
</body>
</html>
