!!!
%html
	%head
		%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
			%title
				ThinkSmart
			= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
			= javascript_include_tag 'application', 'data-turbolinks-track' => true
			= csrf_meta_tags
			= yield(:head)

	%body{:class => "#{controller_name} #{action_name}"}
		= render 'registrations/sign_up_modal'
		= render 'registrations/log_in_modal'

		.about
			.center
				.row
					%h4
						¿Cómo funciona?
				.row.steps
					.col-md-4
						= icon('bullhorn')
						%h1 Comparte publicaciones o proyectos de ciudades inteligentes 
						
						%p
							Podes compartir proyectos que ya se implementaron y funcionan en las ciudades; o promocionar tu propio proyecto de ciudades inteligentes para que la comunidad de thinksmart te ayude a llevarlo a cabo.
					.col-md-4
						= icon('tags')
						%h1 Clasifica las publicaciones o proyectos de acuerdo a lo que apuntan
						
						%p
							Desarrollo Urbano
							%br
							Transporte y Movilidad
							%br
							Medioambiente y sustentabilidad
							%br
							Desarrollo de la comunidad
							%br
							Innovación y desarrollo

					.col-md-4
						= icon('connectdevelop')
						%h1 Interactúa con la comunidad de Smart cities en todo el mundo
						
						%p	
							Promociona tu idea de Smart cities y arma equipo de trabajo con la comunidad global: otros ciudadanos, emprendedores, empresas, ONGs, gobiernos, otros. 
							Conoce las noticias de Smart cities que publican los usuarios de la comunidad global. 
				.row
					= link_to('Volver', '#', class: 'howitworks btn btn-lg btn-white')

		%nav.menu
			.menu-collapse
				%ul.menu-nav
					%li.active
						= link_to('Home', root_path)
					%li
						= link_to('Ciudades', cities_path)
					%li
						= link_to('Publicaciones', posts_path)
					%li
						= link_to('Proyectos', projects_path)
					%li
						= link_to('Location', '#venues')
					= link_to('http://www.facebook.com', class: 'menu-social-link') do
						%span
							= icon('facebook')
					= link_to('http://www.facebook.com', class: 'menu-social-link') do
						%span
							= icon('instagram')
					= link_to('http://www.facebook.com', class: 'menu-social-link') do
						%span
							= icon('twitter')
					= link_to('http://www.facebook.com', class: 'menu-social-link') do
						%span
							= icon('youtube')


		%nav.navbar.navbar-default
			.container-fluid
				.navbar-header.page-scroll
					%button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
						%span.sr-only Toggle navigation
						%span.icon-bar
						%span.icon-bar
						%span.icon-bar
					= link_to(root_path, class: 'navbar-brand') do 
						%i.icon.icon-thinksmart
						%span
							ThinkSmart



				.collapse.navbar-collapse#bs-example-navbar-collapse-1
					%ul.nav.navbar-nav
						%li
							= link_to('Descubrir', projects_path)
						%li
							= link_to('Empezar un proyecto', new_project_path)
					%ul.nav.navbar-nav.navbar-right
						%li
							- if city
								= link_to(cities_path) do
									%span.icon.icon-earth-globe-streamline
									%span.hidden-xs
										#{city.name}, #{city.country}
							- else
								= link_to(cities_path) do
									%span.icon.icon-earth-globe-streamline
									%span
										Elegir Ciudad
						%li
							%a.hidden-xs.toggle-nav(href="#")
								%span.icon-menu
								%span.hidden-xs
									Menu
						
		= yield
		%section#bottom.text-center.bg-cyan
			.row
				%h1
					Building better cities together
			.row
				%p
					Todavia no estas registrado?
					%button.btn.btn-lg.btn-white
						Registrate Ahora
					en ThinkSmart
		:javascript
			$('body').jpreLoader({
				loaderVPos: '50%',
				autoClose: true,
				showPercentage: true
			});
			$(window).on('scroll', function(){
				if ($(this).scrollTop() > 100){
					$('body.home nav').addClass('navbar-shrink');
				}
				else {
					$('body.home nav').removeClass('navbar-shrink');
				}
			});
			function toggleAbout() {
				if($('.about').hasClass('show')){
					$('.about').removeClass('show');
					$('body').css('overflow', 'auto');
					$('nav.navbar').removeClass('white');
				} 
				else {
					$('.about').addClass('show');
					$('body').css('overflow', 'hidden');
					$('nav.navbar').addClass('white');
				}
			}
			function toggleMenu() {
				if($('.menu-collapse').hasClass('show')){
					$('body').css('overflow', 'auto');
					$('.menu-collapse').removeClass('show');
					$('nav.navbar').removeClass('white');
				} 
				else {
					$('.menu-collapse').addClass('show');
					$('body').css('overflow', 'hidden');
					$('nav.navbar').addClass('white');
				}
			}
			$('.toggle-nav').click(function(event) {
				event.preventDefault();
				toggleMenu();
			});
			$('.howitworks').click(function(event) {
				event.preventDefault();
				toggleAbout();
			});
